
<p class="footer-whats"> 
  <a target="_blank" href="https://api.whatsapp.com/send?phone=555184395416&text=(Por%20favor%2C%20complete%20a%20msg%20antes%20de%20enviar)%20Ol%C3%A1%2C%20gostaria%20de%20informa%C3%A7%C3%B5es%20sobre%20a%20Morada%3A%20xxxx%2C%20no%20per%C3%ADodo%20dd%2Fmm%2Faa%20%C3%A0%20dd%2Fmm%2Faa%20para%20o%20n%C3%BAmero%20de%20pessoas%3A%20xx.%20Obrigado!" title="Visite nosso Facebook" class="ssba_whats_share">
    <i class="fa fa-whatsapp"></i>
  </a>
</p>

<div class="section-moradas-cinco">
  <div class="container-moradas">
      
<a target="_blank" href="https://www.facebook.com/pousadatramandai" title="Visite nosso Facebook" class="ssba_facebook_share">
<i class="fa fa-facebook-official"></i> Facebook
</a>

</a>
<a target="_blank" href="https://www.instagram.com/moradas_do_pe_grande_tramandai/"  title="Visite nosso Instagram" class="ssba_instagram_share">
<i class="fa fa-instagram"></i> Instagram
</a>

</a>
<a target="_blank" href="https://www.youtube.com/channel/UCb8Jf1A0laXF7O-b6up1FJg"  title="Siga nosso canal no YouTube" class="ssba_youtube_share">
<i class="fa fa-youtube-square"></i> YouTube
</a>

      
  </div>
</div>

<div class="section-moradas-cinco">
  <div class="container-moradas">

<p>&copy; 2020 Moradas do Pé Grande<p>

</div>
</div>


<!-- JavaScript (Opcional) -->
<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS--> 

<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/popper.js/dist/popper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/models/menu-scroll.js"></script>


  </div>
</div>

  

    
<!--<div class="section-moradas-cinco">
  <div class="container-moradas">

    <div class="col-sm-3">
      <h3 class="text-center py-3 ">Menu</h3>
        
        <div class="list-group text-center mb-5 ">
          
          <a href="#" class="list-group-item border border-dark footer-menu">Quem Somos</a>
          <a href="#" class="list-group-item border border-dark footer-menu">Tarifário</a>
          <a href="#" class="list-group-item border border-dark footer-menu">Contato</a>
          
        </div>
    </div>
      <div class="col-sm-3">

          <h3 class="text-center py-3">Redes Sociais</h3>
          <div class="list-group text-center mb-5 ">
          
          <a target="_blank" a href="https://www.facebook.com/pousadatramandai" class="list-group-item border border-dark footer-menu-facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
          
          <a target="_blank" a href="https://www.youtube.com/channel/UCb8Jf1A0laXF7O-b6up1FJg" class="list-group-item border border-dark footer-menu-youtube"><i class="fa fa-youtube" aria-hidden="true"></i>YouTube</a>
          <a target="_blank" a href="https://instagram.com/stories/moradas_do_pe_grande_tramandai/2323815071351262441?utm_source=ig_story_item_share&igshid=lmlbvd1vmjii" class="list-group-item border border-dark footer-menu-instagram"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a>
          
        </div>
        </div>
      
  </div>
</div>

<div class="footer-copy">
<p>&copy; 2020 Moradas do Pé Grande<p>
</div>

<!-- JavaScript (Opcional) -->
<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS

<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/popper.js/dist/popper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/models/menu-scroll.js"></script>


  </div>
</div>

-->