<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/compiler/bootstrap.css">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css"/>
    
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">   <!--biblioteca de ícones-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Sriracha&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

    <title>Moradas do Pé Grande</title>
  
  </head>

  <body>
    
    <div class="row header-row">
      <div class="col">
          <p class="col-lg header-brand"> Moradas do Pé Grande </p>   
      </div>
  </div>
      <div class="col-lg headerquem">
          <ul>
              <li><a href="home-guest"><p class="menu-princ">Quem Somos</p></a></li>
              <li><a href="#"><p class="menu-princ">Tarifas</p></a></li>
              <li><a href="#"><p class="menu-princ">Moradas</p></a></li>
              <li><a href="contato"><p class="menu-princ">Contato</p></a></li>
              </div>
          </ul>
      </div>

