<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="public/compiler/bootstrap.css">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />


    <title>Olá, mundo!</title>
  </head>
  <body>
    <h1>Olá, mundo!</h1>
    <a href="#" class="btn btn-primary">Teste botão</a>

