<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/compiler/bootstrap.css">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css"/>
    <link href= "/public/assets/stylemoradas.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">   <!--biblioteca de ícones-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Sriracha&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">

    <title>Moradas do Pé Grande</title>
  
  </head>
<body>
  <div class="row header-row">
    <div class="col header-col">
      
      <a href="/"><p class="header-brand"> Moradas do Pé Grande </p></a>
        
      <p class="socialMediaY">
        <a target="_blank" href="https://www.youtube.com/channel/UCb8Jf1A0laXF7O-b6up1FJg" title="Visite nosso canal" class="ssba_youtube_share">
          <i class="fa fa-youtube-square"></i>
          </a>
      </p>
        
      <p class="socialMediaI">
        <a target="_blank" href="https://www.instagram.com/moradas_do_pe_grande_tramandai/"  title="Visite nosso Instagram" class="ssba_instagram_share">
          <i class="fa fa-instagram"></i>
        </a>
      </p>        

      <p class="socialMediaF">
        <a target="_blank" href="https://www.facebook.com/pousadatramandai" title="Visite nosso Facebook" class="ssba_facebook_share">
          <i class="fa fa-facebook-official"></i>
        </a>
      </p>

    </div>
  </div>
    

    
<div class="menu-tab">
  <a href="#home" class="active">
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
  </a>
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks">
    <nav class="menu-bar">
      <a href="">Quem Somos</a>
      <a href="">Tarifário</a>
      <a href="">Promoções</a></li>
      <div class="item">
        <input type="checkbox" id="check1">
        <label for="check1"> >> Selecione a Morada <<</label>
        <ul>
          <li><a href="../moradas/minilofts">Minilofts</a></li>
          <li><a class="sub-menu" href="../moradas/casa-dos-fundos">Casa dos Fundos</a></li>
          <li><a href="../moradas/sobrados-amarelo">Sobrados Amarelo</a></li>
          <li><a href="../moradas/sobrados-rosa">Sobrados Rosa</a></li>
          <li><a href="../moradas/kitroots">Kitroots</a></li>
          <li><a href="../moradas/cabaninhas">Cabaninhas</a></li>
        </ul>
      </div>
    
    
    </nav>
    
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  
  </a>
</div>
    
   
