<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/compiler/bootstrap.css">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">   <!--biblioteca de ícones-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Sriracha&display=swap">
    
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

    <title>Moradas do Pé Grande</title>
  
  </head>
<body>
  <div class="row header-row">
    <div class="col header-col">
      <a href="/"><p class="header-brand"> Moradas do Pé Grande</p></a>
        
    </div>
</div>
<div class="menu-tab">
  <a href="#home" class="active">
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
  </a>
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks">
    <a href="quem-somos">Quem Somos</a>
    <a href="tarifario">Tarifário</a>
    <a href="moradas">Moradas</a>
    <a href="http://localhost:3000/contato">Contato</a>
    <a href="https://www.facebook.com/pousadatramandai">Facebook  <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a href="https://api.whatsapp.com/send?phone=555184395416&text=&source=&data=&app_absent=">Whatsapp <i class="fa fa-whatsapp" aria-hidden="true"></i></a>
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  
  </a>
</div>
    
   
