<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/compiler/bootstrap.css">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/models/javascript.js"></script>
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">   <!--biblioteca de ícones-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Sriracha&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

    <title>Moradas do Pé Grande</title>
  
  </head>

  <body>
    <nav class="navbar navbar-default navbar-expand-lg navbar-top">
        <div class="container ">
            <a class="navbar-brand" href="#"><p class="altera-fonte-brand">Moradas do Pé Grande </p></a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
            <span class="navbar-toggler-icon"></span>
        </button>
   
        <div class="collapse navbar-collapse col-sm-6 altera-fonte-brand" id="navbarSite">
            <ul class="navbar-nav nav nav-pills nav mx-auto">
              <li class="nav-item nav-menu">
                <a class="btn nav-bloco-menu" href="quem-somos">Quem Somos</a>
              </li>
              <li class="nav-item nav-menu">
                <a class="btn nav-bloco-menu" href="#">Tarifas</a>
              </li>
              
              <li class="nav-item dropdown nav-menu">
                  <a class="dropdown-toggle btn btn nav-bloco-menu" data-toggle="dropdown" aria-expanded="false" href="#">Moradas </a>
                <div class="dropdown-menu nav-bloco-moradas" role="menu">
                  <a class="dropdown-item" role="presentation" href="#">1 - Moradas A</a>
                  <a class="dropdown-item" role="presentation" href="#">2 - Moradas B</a>
                  <a class="dropdown-item" role="presentation" href="#">3 - Moradas C</a>
                  <a class="dropdown-item" role="presentation" href="#">4 - Moradas D</a>
                    
                </div>
            </li>
              
            <li class="nav-item nav-menu">
                <a class="btn btn nav-bloco-menu" href="#">Contato</a>
              </li>
            <li class="nav-item">
            <a class="btn btn-primary border border-dark" href="https://www.facebook.com/pousadatramandai"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            </li>
          </ul>
    </div>
</nav>