<%- include('../includes/header') %>



<div class="section-moradas">
    <p class="moradas-titulo">Cabaninhas</p>
   
    <p class="moradas-secao-a">"Cabanas dos sete anões". Local arborizado com pequenas cabaninhas. Ambiente familiar e tranquilo, a menos de uma quadra do mar. Solicite vídeos que mostram o trajeto! </p>
    <p class="moradas-secao-a"> São 6 cabaninhas de até 04 pessoas e um bangalô para casal em local cercado e seguro. Fica apenas a 50m do parque da coruja (excelente local para crianças com brinquedos e laguinhos com tartarugas) e a 50m do mar. </p>
    <p class="moradas-secao-a"> Distante a 6 min de carro do centro ou plataforma (3 km). Tem mercados, restaurantes e lancherias pertinho. Próximo ao centrinho da zona sul a apenas 1 km. Fica também a 50 metros do calçadão que liga Tramandaí Sul até Nova Tramandaí. Bairro ótimo e tranquilo para férias familiar, com salva vidas e quiosques na beira da praia. Localização nobre. </p>
             
    <p class="moradas-secao-a">Solicite maiores esclarecimentos sobre realização de festas, eventos e filmes do local via whatsapp (51) 98439-5416. </br>
          
    <p class="moradas-secao-b">Endereço: Rua Acre número 120. Bairro Tramandai Sul. Tramandaí/RS.</p>
    
    </br></br>

    
        <div id="dvslider-moradas" style="margin-left:auto; margin-right:auto">
            <button class="btSlider-moradas" onclick="troca(-1)"><</button>
            <button class="btSlider-moradas" onclick="troca(1)">></button>
        </div>
    </div>

    <p class="moradas-secao-b" style="text-align: center;">Confira o vídeo dessa Morada no final da página!</p>

<div class="section-moradas-dois">
  <p class="moradas-info">Informações</p>
    
  <div class="container-moradas">
      
      <p class="moradas-texto">🏠 Estrutura das Cabanas/Bangalô: </p>

      <p class="moradas-texto-dois">○ Cabaninhas com TV (canais locais), 01 ventilador, fogão e geladeira, mesa e cadeiras, cama de casal ao lado de um beliche e um banheiro privativo; </p>
      <p class="moradas-texto-dois">○ Churrasqueira em área compartilhada ambiente fechado e coberto com mesas e bancos; </p>
      <p class="moradas-texto-dois">○ Possui wi-fi; </p>
      <p class="moradas-texto-dois">○ Vaga rotativa a céu aberto para 01 carro normal; </p>
      <p class="moradas-texto-dois">○ Árvores no local; </p>
      <p class="moradas-texto-dois">○ Cabaninhas térreas 01, 02, 04, 05, 06 são pequenas apropriadas para um casal e duas crianças. No entanto, podem acomodar também 04 adultos (solicite vídeos para observação e decisão pessoal);</p>
      <p class="moradas-texto-dois">○ Cabana 03 são mais espaçosas e podem comportar de 04 a 05 pessoas, sendo a quinta pessoa em colchão no chão; </p>
      <p class="moradas-texto-dois"><b>○ BANGALÔ O QUERIDINHO DOS CASAIS:</b> Possui cama de casal e sofá-cama integrados com cozinha contendo cooktop 04 bocas, geladeira e pia. TV (canais abertos) e wi-fi. Banheiro privativo com box de vidro. Terraço privativo com vista parcial do mar, com mesa e banco. Fica no alto subindo lance de escadas. Neste local é possível hospedar crianças somente acima de 10 anos. </p>
      
  </div>
</div>

  <div class="section-moradas-tres">
    <p class="moradas-valores">Valores</p>
    <i class="fas fa-donate"></i>
    
    <div class="container-moradas">
        
        <p class="moradas-texto">💰 Valor diária padrão </p>
        <p class="moradas-texto-dois"><b>Cabaninhas: </b></p>
        <p class="moradas-texto-dois">👍 Pacote família - 5 dias até 4 pessoas, sendo casal com crianças ou filhos por <b>R$ 750,00</b>. </p>
        <p class="moradas-texto-dois">👍 Pacote 5 dias até 04 adultos independentes total <b>R$ 900,00</b>.</p>
        <p class="moradas-texto-dois">👍 Pacote de 5 dias até 02 pessoas por <b>R$ 625,00</b>.</p>
        <p class="moradas-texto-dois">👍 Pacote de 5 dias cabana 03 maior até 5 pessoas <b>R$ 1.125,00</b>.</p>    
      </br>
        <p class="moradas-texto-dois"><b>Bangalô:</b> </p>
        <p class="moradas-texto-dois">👍 Pacote de 5 dias para casal <b>R$ 1.000,00</b>.</p>    
    
      </div>
</div>

<div class="quadro-youtube-moradas">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="moradas-youtube"><i class="fa fa-video-camera text-primary" aria-hidden="true"></i> Cabaninhas </p>

      </div>
    </div>
    <div class="row">
      <div class="col-12 ml-3">

        <div class="tab-content " id="nav-pills-content">
          <div class="tab-pane fade show active" id="nav-item-01" role="tabpanel">
            <div class="row">
              <div class="col-md-6 col-lg-6 mx-auto">
                
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SF2Em3yWaMU"></iframe>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  



<%- include('../includes/footer') %>

<script type="text/javascript" src="../models/moradas-carousel-f.js"></script>

</body>
</html>