<%- include('../includes/header') %>



<div class="section-moradas">
    <p class="moradas-titulo">Casa dos Fundos</p>
   
    <p class="moradas-secao-a">Localizada a 3km do centro, essa hospedagem fica nos fundos de uma casa onde os anfitriões residem na frente. Você dispõe de toda privacidade e poderá realizar seus eventos e festas com amigos ou família. Alugamos o ano inteiro e no verão é possível apenas aluguel de final de semana "FINDIS". Em frente ao calçadão zona sul. Quase esquina com praça das corujas (local ótimo para crianças com brinquedos e laguinho com tartarugas). Mercadinho e restaurante próximo. Zona nobre. Cerca de 1 km do centrinho zona sul.</p>
    
    <p class="moradas-secao-a">Solicite maiores esclarecimentos sobre realização de festas, eventos e vídeos do local via whatsapp (51) 98439-5416. </br>
          
    <p class="moradas-secao-b">Endereço: Av. Beira Mar 110. Bairro Tramandaí Sul. Tramandaí/RS.</p>
    
    </br>
  </br>

    
        <div id="dvslider-moradas" style="margin-left:auto; margin-right:auto">
            <button class="btSlider-moradas" onclick="troca(-1)"><</button>
            <button class="btSlider-moradas" onclick="troca(1)">></button>
        </div>
    </div>

    <p class="moradas-secao-b" style="text-align: center;">Confira o vídeo dessa Morada no final da página!</p>

<div class="section-moradas-dois">
  <p class="moradas-info">Informações</p>
    
  <div class="container-moradas">
      
      <p class="moradas-texto">🏠 Casa dos fundos com piscina, mesa de sinuca e à beira-mar. </p>
      <p class="moradas-texto-dois">○ Três quartos (Acomoda até 16 pessoas);</p>
      <p class="moradas-texto-dois">○ Três camas de casal;</p>
      <p class="moradas-texto-dois">○ Cinco beliches;</p>
      <p class="moradas-texto-dois">○ Dois banheiros;</p>
      <p class="moradas-texto-dois">○ Cozinha (panelas e utensílios básicos, microondas, fogão e geladeira);</p>
      <p class="moradas-texto-dois">○ Churrasqueira;</p>
      <p class="moradas-texto-dois">○ Vagas para até 4 carros (tamanho padrão pequeno), podendo chegar a 5 carros;</p>
      <p class="moradas-texto-dois">○ Gás água e luz inclusos na locação;</p>
  </div>
</div>

  <div class="section-moradas-tres">
    <p class="moradas-valores">Valores</p>
    <i class="fas fa-donate"></i>
    
    <div class="container-moradas">
        
        <p class="moradas-texto">💰 Valor diária padrão</p>
        
        <p class="moradas-texto-dois">👍 Até 10 pessoas: R$ 500,00 por dia.</p>
        <p class="moradas-texto-dois">👍 Até 16 pessoas: R$ 600,00 por dia.</p>
        <p class="moradas-texto-dois-obs">* Solicite pelo zap tarifas promocionais</p>
    </br>
        <p class="moradas-texto">⛱️ Finais de semana (Sex à Seg): </p>
        <p class="moradas-texto-dois">👍 Até 10 pessoas: R$ 2.000,00</p>
        <p class="moradas-texto-dois">👍 Até 16 pessoas: R$ 2.250,00</p>
      </br>
        <p class="moradas-texto">⛱️ Semana cheia (Seg à Dom): </p>
        <p class="moradas-texto-dois">👍 Até 10 pessoas: R$ 2.500,00</p>
        <p class="moradas-texto-dois">👍 Até 16 pessoas: R$ 3.000,00</p>

      </br>
      <p class="moradas-texto-dois-obs"> * Valores não são válidos em períodos de Reveillon ou Carnaval.</p>
      <p class="moradas-texto-dois-obs"> * Consulte pelo whatsapp tarifas especiais promocionais que dependem da época e total de dias do pacote.</p>
      <p class="moradas-texto-dois-obs"> * Acima de 07 dias sempre temos promoções! Trabalhamos com pagamentos mensais na reserva antecipada promocional.</p>
      <p class="moradas-texto-dois-obs"> * Em todos os locais é necessário trazer seus produtos de higiene e produtos de limpeza/pano. Necessário trazer  roupas e forro de cama, travesseiros, cobertas. Temos opções de locação destes itens caso não possa trazer.</p>
      <p class="moradas-texto-dois-obs"> * Em todos os locais é cobrado a caução limpeza antecipado. Caso o hóspede entregue o local limpo a taxa de limpeza  não será cobrada e devolvida na saída. Solicite mais detalhes via whatsapp.</p>
      <p class="moradas-texto-dois-obs"> * Solicite também mais informações e novidades que não estão no site pelo whatsapp. Temos apartamentos e casas a 400 metros do mar com tarifas promocionais.</p>
      <p class="moradas-texto-dois-obs"> * EM FRENTE À PRAIA É PÉ NA AREIA! Não precisa usar o carro para ir à praia. E a comodidade e higiene de ter sua cozinha e banheiro só atravessando a rua! Menores gastos fazendo sua refeição em casa e sem gastar combustível. Ficar em frente ao mar sempre mais vantajoso e econômico e confortável. Qualidade de vida ao veranear! </p>
      <p class="moradas-texto-dois-obs"> * Temos nossa equipe de segurança privativa nas ruas com monitoramento o que garante sua férias tranquilas.</p>
      <p class="moradas-texto-dois-obs"> * Somos Petfriendly - Aceitamos pets (Informar antecipadamente e solicitar regrinhas e taxas).</p>

       
        
    </div>
</div>

<div class="quadro-youtube-moradas">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
            <p class="moradas-youtube"><i class="fa fa-video-camera text-primary" aria-hidden="true"></i> Casa dos Fundos</p>
       
        </div>
      
    </div>
  
    <div class="row">
      <div class="col-12 ml-3">

          <div class="tab-content " id="nav-pills-content">
              <div class="tab-pane fade show active" id="nav-item-01" role="tabpanel">
                    <div class="row">
                        
                      
                      <div class="col-md-6 col-lg-6 mx-auto">
                          
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eAf8atrbigU"></iframe>
                          
                      </div>

                    </div>
              </div>
          </div>

      </div>

    </div>
  </div>
</div>  



<%- include('../includes/footer') %>

<script type="text/javascript" src="../models/moradas-carousel-b.js"></script>

</body>
</html>