<%- include('../includes/header') %>



<div class="section-moradas">
    <p class="moradas-titulo">KitRoots</p>
   
    <p class="moradas-secao-a">Quer ficar em frente à praia e pé na areia? Procura algo simples e econômico? Somente um local para dormir e para aproveitar a praia?</p>
    <p class="moradas-secao-a"><b>Este é o local! Confira os Kitnetes  queridinhos dos casais com vista para o mar!</b></p>
    
    <p class="moradas-secao-a"> Solicite opções com vista para o mar no terraço ou térreas. Os Kitnetes do terraço são exclusivos para adultos e crianças maiores de 12 anos.
    Ficam a seis minutos de carro do centro. Tem mercados, restaurantes e lancherias próximo. Ficamos bem pertinho da praça das Corujas e calçadão que liga Tramandaí Sul até Nova Tramandaí. Bairro ótimo para férias em virtude de ser familiar e mais tranquilo com salva vidas e quiosques na praia durante a alta temporada. 
      </br>
    
    <p class="moradas-secao-a">Solicite maiores esclarecimentos sobre realização de festas, eventos e filmes do local via whatsapp (51) 98439-5416. </br>
          
    <p class="moradas-secao-b">Endereço: Av. Beira Mar sem número e entrada pelos fundos na Rua Bergamo 168. Bairro Tramandai Sul. Tramandaí/RS.</p>
    
    </br>
  </br>

    
        <div id="dvslider-moradas" style="margin-left:auto; margin-right:auto">
            <button class="btSlider-moradas" onclick="troca(-1)"><</button>
            <button class="btSlider-moradas" onclick="troca(1)">></button>
        </div>
    </div>

    <p class="moradas-secao-b" style="text-align: center;">Confira o vídeo dessa Morada no final da página!</p>

<div class="section-moradas-dois">
  <p class="moradas-info">Informações</p>
    
  <div class="container-moradas">
    <p class="moradas-texto">🏠 Kitnetes Roots Beira Mar! PÉ NA AREIA!</p>
    
    <p class="moradas-texto-dois">○ Kitnetes de um ou dois quartos;</p>
    <p class="moradas-texto-dois">○ Kitnetes com fogão, geladeira (não duplex, não freezer), pia e utensílios básicos de cozinha;</p>
    <p class="moradas-texto-dois">○ Kitnetes com tv de tubo (canais locais);</p>
    <p class="moradas-texto-dois">○ Todos com wi-fi grátis;</p>
    <p class="moradas-texto-dois">○ Kitnetes com 01 ou 02 ventiladores;</p>
    <p class="moradas-texto-dois">○ Kitnetes com cama de casal e beliche; ou com duas camas de casal; ou cama de casal e sofá cama;</p>
    <p class="moradas-texto-dois">○ Kitnetes com 01 banheiro privativo com chuveiro elétrico;</p>
    <p class="moradas-texto-dois">○ Kitnetes possui churrasqueira coletiva no pátio a céu aberto;</p>
    <p class="moradas-texto-dois">○ Tanque para lavar roupas na área compartilhada;</p>
    <p class="moradas-texto-dois">○ <b>Apto Duplex possui dois pisos, com dois quartos, 01 banheiro, sala e cozinha americana, tv, churrasqueira privativa e acesso ao terraço com vista do mar do terraço e janela do quarto. Indicado para até 06 pessoas.</b></p>
        
    <!--
    <p class="moradas-texto">Kit Econômico</p></br>
    <p class="moradas-texto">Kit 01, 03 ou 04</p></br>
    <p class="moradas-texto">Kit 06 ou 08 (Vista para o mar)</p></br>
    <p class="moradas-texto">Kit 07 ou 08 (Terracinho com vista para o mar)</p>-->
  </div>

  <p class="moradas-info">Estrutura detalhada dos KitRoots</p>
  <div class="container-moradas">
    <p class="moradas-texto-dois">🏠<b>Kit Econômico:</b> uma peça com cama de casal, uma peça com beliche, banheiro, fogão, geladeira, pia e utensílios, tv e wi-fi, ventilador. É o menor deles, na peça de cama de casal não possui janela. Fica no térreo. </p>
    <p class="moradas-texto-dois">🏠<b>Kit 01, 03 ou 04:</b> uma peça com cama de casal e uma peça com beliche, banheiro, fogão, geladeira, pia e utensílios, tv e wi-fi, dois ventiladores quando há mais pessoas. São térreos. </br>
    - Kit 01 (frente) beira mar com janela na peça de casal. </br>
    - Kit 03 (fundos) próximo ao tanque de lavar roupas  compartilhado, com janela nas duas peças casal e beliche. </br>
    - Kit 04 (fundos) próximo a churrasqueira coletiva, com janela na peça do casal.  </p>

    <p class="moradas-texto-dois">🏠<b>Kit 06 (Vista para o mar): </b>uma peça com cama de casal e outra peça também com cama de casal, banheiro, fogão, geladeira, pia e utensílios, tv e wi fi, 02 ventiladores quando há mais pessoas. São térreos. Janela de frente com vista do mar de uma das peças e a outra peça, de casal, possui janela com vista para o pátio.  </p>
    <p class="moradas-texto-dois">🏠<b>Kit 07: O QUERIDINHO DOS CASAIS!</b> Rústico, fica localizado no terraço. Vista para o mar tanto do terraço quanto da cama pela janela. Peça única com cozinha (fogão e geladeira e utensílios). Possui 01 banheiro, mesa com cadeiras, sofá-cama. TV (canais locais) e wi-fi. Local muito ventilado em função da posição de frente para o mar e em cima e, ainda, possui 01 ventilador. Acomoda bem 02 pessoas, mas pode ter até 04 pessoas. Neste kit não é possível hospedar menores de 12 anos. </p>
    <p class="moradas-texto-dois">🏠<b>Kit 08: O QUERIDINHO DOS CASAIS! </b> Também opção single! Possui cozinha com fogão, geladeira, pia, utensílios básicos, mesinha com cadeira em uma peça separada do quarto do casal. Na peça onde fica cama de casal tem também um sofá-cama, a TV (canais locais) e 01 ventilador. Possui 01 banheiro. Possui wi fi. Janela ao lado da cama com vista para o terraço dos fundos. Acesso ao terraço lateral com linda vista do mar! Fica no segundo piso. Neste kit não é possível hospedar menores de 12 anos.
    </p>
    <p class="moradas-texto-dois">🏠<b>Apto 05 duplex:</b> possui dois pisos, com dois quartos, 01 banheiro, sala e cozinha americana, TV (canais locais), churrasqueira privativa e acesso ao terraço com vista do mar do terraço e janela do quarto. Indicado para até 06 pessoas. Um quarto com cama de casal não possui janela. Outro quarto com janela e vista do mar possui cama de casal e beliche. Quartos estão no segundo piso com acesso ao terraço (acesso somente quando há apenas adultos e adolescentes). No primeiro piso fica cozinha com fogão, geladeira, pia e utensílios básicos, banheiro e a sala com sofá e sofá-cama, mesa, cadeiras, e a churrasqueira. Também tem acesso ao pátio do primeiro piso. Podem solicitar até 03 ventiladores neste apto quando em 06 pessoas. </p>

    </div>
</div>

  <div class="section-moradas-tres">
    <p class="moradas-valores">Valores</p>
  
<p class="moradas-texto">Kit Econômico (mini kit 02)</p>
<p class="moradas-texto-dois">👍 Até 02 pessoas: <b>R$ 100,00 por dia.</b></p>
<p class="moradas-texto-dois">👍 Até 03 pessoas: <b>R$ 125,00 por dia.</b></p>
<p class="moradas-texto-dois">👍 Até 04 pessoas: <b>R$ 150,00 por dia.</b></p>
</br>
<p class="moradas-texto">Kit 01, 03 ou 04</p>
<p class="moradas-texto-dois">👍 Até 02 pessoas: <b>R$ 125,00 por dia.</b></p>
<p class="moradas-texto-dois">👍 Até 03 adultos: <b>R$ 150,00 por dia.</b></p>
<p class="moradas-texto-dois">👍 Até 02 adultos e até 02 crianças: <b>R$ 150,00 por dia.</b></p>
<p class="moradas-texto-dois">👍 Até 04 adultos: <b>R$ 180,00 por dia.</b></p>
<p class="moradas-texto-dois">👍 Até 05 adultos (com colchonete): <b>R$ 200,00 por dia.</b></p>
</br>
<p class="moradas-texto">Kit 06 (Vista para o mar térreo)</p>
<p class="moradas-texto-dois">👍 Até 04 pessoas: <b>R$ 200,00 por dia.</b></p>
</br>
<p class="moradas-texto">Kit 07 ou 08 (Terracinho com vista para o mar)</p>
<p class="moradas-texto-dois">👍 Até 02 pessoas: <b>R$ 150,00 por dia.</b></p>
<p class="moradas-texto-dois">👍 Até 04 pessoas: <b>R$ 200,00 por dia.</b></p>
</br>
<p class="moradas-texto">Apartamento 05 Duplex (Terraço com vista para o mar e churrasqueira privativa)</p>
<p class="moradas-texto-dois">👍 Até 6 pessoas: <b>R$ 250,00 por dia.</b></p>

</br></br>

<p class="moradas-texto-dois-obs"> * Adultos e crianças na contagem. Crianças até 4 anos de idade até o limite de 3 por imóvel estão isentas. </p>        
  
    <p class="moradas-texto-dois-obs"> * Valores não são válidos em períodos de Reveillon ou Carnaval.</p>
    <p class="moradas-texto-dois-obs"> * Consulte pelo whatsapp tarifas especiais promocionais que dependem da época e total de dias do pacote.</p>
    <p class="moradas-texto-dois-obs"> * Acima de 07 dias sempre temos promoções! Trabalhamos com pagamentos mensais na reserva antecipada promocional.</p>
    <p class="moradas-texto-dois-obs"> * Em todos os locais é necessário trazer seus produtos de higiene e produtos de limpeza/pano. Necessário trazer  roupas e forro de cama, travesseiros, cobertas. Temos opções de locação destes itens caso não possa trazer.</p>
    <p class="moradas-texto-dois-obs"> * Em todos os locais é cobrado a caução limpeza antecipado. Caso o hóspede entregue o local limpo a taxa de limpeza  não será cobrada e devolvida na saída. Solicite mais detalhes via whatsapp.</p>
    <p class="moradas-texto-dois-obs"> * Solicite também mais informações e novidades que não estão no site pelo whatsapp. Temos apartamentos e casas a 400 metros do mar com tarifas promocionais.</p>
    <p class="moradas-texto-dois-obs"> * EM FRENTE À PRAIA É PÉ NA AREIA! Não precisa usar o carro para ir à praia. E a comodidade e higiene de ter sua cozinha e banheiro só atravessando a rua! Menores gastos fazendo sua refeição em casa e sem gastar combustível. Ficar em frente ao mar sempre mais vantajoso e econômico e confortável. Qualidade de vida ao veranear! </p>
    <p class="moradas-texto-dois-obs"> * Temos nossa equipe de segurança privativa nas ruas com monitoramento o que garante sua férias tranquilas.</p>
    <p class="moradas-texto-dois-obs"> * Somos Petfriendly - Aceitamos pets (Informar antecipadamente e solicitar regrinhas e taxas).</p>



    </div>
</div>

<div class="quadro-youtube-moradas">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
            <p class="moradas-youtube"><i class="fa fa-video-camera text-primary" aria-hidden="true"></i> KitRoots</p>
       
        </div>
      
    </div>
  
    <div class="row">
      <div class="col-12 ml-3">

          <div class="tab-content " id="nav-pills-content">
              <div class="tab-pane fade show active" id="nav-item-01" role="tabpanel">
                    <div class="row">
                        
                      
                      <div class="col-md-6 col-lg-6 mx-auto">
                          
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YRGTA2VFLB0"></iframe>
                          
                      </div>

                    </div>
              </div>
          </div>

      </div>

    </div>
  </div>
</div>  



<%- include('../includes/footer') %>

<script type="text/javascript" src="../models/moradas-carousel-e.js"></script>

</body>
</html>