<%- include('../includes/header') %>

<div class="container">
    <div class="section-moradas">
   <!--Carousel-->
        <div class="section color1 mt-5">
            <div id="dvslider">
            <button class="btSlider" onclick="troca(-1)"><</button>
            <div id="dvload">
                <div id="dvbarra"></div>
            </div>
            <button class="btSlider" onclick="troca(1)">></button>
            </div>
            </div>
    </div>
</div>




















<%- include('../includes/footer') %>