<%- include('../includes/header') %>



    <div class="section-moradas">
        <p class="moradas-titulo">Minilofts Pé Grande</p>
              <div class="row">
                  <div class="container">
                        <div class="carousel-moradas">
                            <div class="moradas-images">
                            <div id="dvslider-moradas">
                            <button class="btSlider-moradas" onclick="troca(-1)"><</button>
                            <div id="dvload">
                                <div id="dvbarra"></div>
                            </div>
                            <button class="btSlider-moradas" onclick="troca(1)">></button>
                            </div>
                            </div>
                        </div>
                   </div>
            </div>
    <div class="container-info">
        <div class="section-moradas-info">
            <p class="moradas-head-info">Informações: </p>



        </div>
    </div>
   
<%- include('../includes/footer') %>

<script type="text/javascript" src="../models/moradas-carousel-a.js"></script>

</body>
</html>