<%- include('../includes/header') %>

<div class="section-moradas">
    <p class="moradas-titulo">1. Casa Branca</p>
   
    <p class="moradas-secao-a">Localizada à beira-mar, na mesma quadra dos minilofts pé grande. Temos nossos zeladores dia e noite para tranquilidade da sua estadia.</p>
    
    <p class="moradas-secao-a">Solicite maiores esclarecimentos e vídeos do local via whatsapp (51) 98439-5416. </br>
          
    <p class="moradas-secao-b">Endereço: Rua Bergamo 138 - Bairro Tramandaí Sul. Tramandaí/RS.</p>
    
    </br>
  </br>

</div>

<div class="quadro-youtube-moradas">
  <div class="container">
    <div class="row">
      <div class="section-youtube texto-center">
      
        <p class="moradas-youtube-home"><i class="fa fa-video-camera text-primary" aria-hidden="true"></i> Casa Branca </p>
        
      </div>
    </div>
    
      <div class="align-youtube">
        <div class="tab-content " id="nav-pills-content">
          <div class="tab-pane fade show active" id="nav-item-01" role="tabpanel">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/9s5Nqdj8tG4"></iframe>

          </div>
        </div>
      </div>
    
  </div>
</div> 




<%- include('../includes/footer') %>

</body>
</html>