<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/compiler/bootstrap.css">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">   <!--biblioteca de ícones-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Sriracha&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

    <title>Moradas do Pé Grande</title>
  
  </head>
<body>
  <div class="row header-row">
    <div class="col header-col">
      <a href="/"><p class="header-brand"> Moradas do Pé Grande</p></a>
        
    </div>
</div>
<div class="menu-tab">
  <a href="#home" class="active">
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
  </a>
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks">
    <a href="quem-somos">Quem Somos</a>
    <a href="tarifario">Tarifário</a>
    <a href="moradas">Moradas</a>
    <a href="http://localhost:3000/contato">Contato</a>
    <a target="_blank" a href="https://www.facebook.com/pousadatramandai">Facebook  <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a target="_blank" a href="https://api.whatsapp.com/send?phone=555184395416&text=&source=&data=&app_absent=">Whatsapp <i class="fa fa-whatsapp" aria-hidden="true"></i></a>
  </div>
  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  
  </a>
</div>


<div class="container">
<div class="section-moradas">
    <p class="moradas-titulo">Casa dos Fundos</p>
   
    <p class="moradas-texto-dois">Localizada a 3km do centro, essa hospedagem fica nos fundos de uma casa onde os anfitriões residem na frente. Você dispõe de toda privacidade e poderá realizar seus eventos e festas com amigos ou família. Alugamos o ano inteiro. E no verão é possível apenas aluguel de final de semana "FINDIS".</p>
        <p class="moradas-texto-dois">Solicite maiores esclarecimentos sobre realização de festas, eventos e filmes do local via whatsapp (51)98439-5416. </br>
          
        <p class="moradas-texto">Endereço: Av. Beira Mar 110. Bairro Tramandai Sul. Cidade Tramandaí</p>
    
        <a href="https://api.whatsapp.com/send?phone=555184395416&text=&source=&data=&app_absent=" title="Contate pelo Whatsapp" class="whats"> <i class="fa fa-whatsapp" aria-hidden="true"></i> Chama no whats</a></p> 
    </br>

        <div id="dvslider-moradas" style="margin-left:auto; margin-right:auto">
            <button class="btSlider-moradas" onclick="troca(-1)"><</button>
            <button class="btSlider-moradas" onclick="troca(1)">></button>
        </div>
    </div>
</div>


<div class="section-dois-moradas">
  <p class="moradas-info">Informações</p>
    
  <div class="container-moradas">
      
      <p class="moradas-texto">🏠 Casa dos fundos com piscina, mesa de sinuca e à beira-mar. </p>
      <p class="moradas-texto-dois">- Três quartos</p>
      <p class="moradas-texto-dois">- Três camas de casal</p>
      <p class="moradas-texto-dois">- Cinco beliches</p>
      <p class="moradas-texto-dois">- Dois banheiros</p>
      <p class="moradas-texto-dois">- Cozinha (microondas, fogão e geladeira)</p>
      <p class="moradas-texto-dois">- Churrasqueira</p>
      <p class="moradas-texto-dois">- Vagas para até 4 carros (tamanho padrão pequeno), podendo chegar a 5 carros.</p>
  </div>

  <hr style="width:100%; background-color: black">

    <p class="moradas-valores">Valores</p>
    
    <div class="container-moradas">
        
        <p class="moradas-texto">Valor diária padrão </p>
        <p class="moradas-texto-dois">👍 Até 10 pessoas: R$ 500,00 por dia.</p>
        <p class="moradas-texto-dois">👍 Até 16 pessoas: R$ 600,00 por dia.</p>
        
        <p class="moradas-texto"> Finais de semana (Sexta à Segunda): </p>
        <p class="moradas-texto-dois">👍 Até 10 pessoas: R$ 2.000,00</p>
        <p class="moradas-texto-dois">👍 Até 16 pessoas: R$ 2.400,00</p>

        <p class="moradas-texto"> Semana cheia (Segunda à Domingo): </p>
        <p class="moradas-texto-dois">👍 Até 10 pessoas: R$ 2.500,00</p>
        <p class="moradas-texto-dois">👍 Até 16 pessoas: R$ 2.600,00</p>

       
        
    </div>
</div>

<div class="quadro-youtube-moradas">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-6 mt-3"><i class="fa fa-video-camera text-primary" aria-hidden="true"></i> Casa dos Fundos</h1>
       
        </div>
      
    </div>
  
    <div class="row">
      <div class="col-12 ml-3">

          <div class="tab-content " id="nav-pills-content">
              <div class="tab-pane fade show active" id="nav-item-01" role="tabpanel">
                    <div class="row">
                        
                      
                      <div class="col-sm-6 mx-auto">
                          <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eAf8atrbigU"></iframe>
                          </div>
                      </div>

                      <!--<div class="col-sm-6">
                      <p>Conheça todas as moradas!</p>
                      </div>
                      -->

                    </div>
              </div>

            
              <div class="row">
                <div class="col-12 text-center ferias-youtube">
              <p class="mt-3 mb-1" ></p>
              </div>
              </div>
          </div>

      </div>

    </div>
  </div>
</div>  



<%- include('../includes/footer') %>

<script type="text/javascript" src="../models/moradas-carousel-b.js"></script>

</body>
</html>

<style>

@media (max-width: 768px) { 

    .section-moradas {
      padding: 40px 0;
      height: 1000px;
      text-align: center;
  }
  
    #dvslider-moradas{
      background-repeat: round;
      border: 1px solid black;
      height: 400px;
      width: 350px;
      border: 1px solid #000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
    }
  
    .btSlider-moradas{
      background-color: #36b1da;
      color:#fff;
      cursor: pointer;
      height: 70px;
      outline: none;
      
      border: 1px solid black;
      }
  
      .section-dois-moradas {
        height: 1130px;
        width: 100%;
        background-color: #53cbf3;
        text-align: center;
        
      }
      
      .moradas-info {
      padding-top: 10px;
      font-family: 'Lobster Two', cursive;
      font-size: 30px;
      align-items: center;
      }
      
      .container-moradas {
        margin-left: auto;
        margin-right: auto;
        padding-right: 10px;
        width: 100%;
        text-align: center;
      }
      
      
      .moradas-texto {
        margin-left: 15px;
        margin-right: 0;
        padding-top: 10px;
        font-family: 'Lora', serif;
        font-size: 20px;
        text-align: left;
        font-weight: bolder;
      }
      
      .moradas-texto-dois {
        margin-left: 10px;
        margin-right: 0;
        padding-top: 0;
        font-family: 'Lora', serif;
        font-size: 16px;
        text-align: left;
        ;
      }
  
  }

</style>