<%- include('../includes/header') %>



<div class="section-moradas">
    <p class="moradas-titulo">Sobrados Amarelo</p>
   
    <p class="moradas-secao-a">Sobrados privativos em frente à praia com vista para o mar! Localizados a 3 km  do centro da cidade ou plataforma e a 1 km do centrinho zona sul. Quase esquina com a Praça das Corujas, recanto ideal para crianças e para rodas de chimarrão. Nesta praça você conta com brinquedos e laguinho com tartarugas para apreciação, além dos ninhos protegidos das Corujas que vivem por lá. Possui mercadinhos e restaurantes bem próximo.</p>

    <p class="moradas-secao-a">Localização bairro nobre. Em frente ao calçadão beira mar zona sul.</p>
    
    <p class="moradas-secao-a"> Alugamos findis, diárias e temporada.Solicite maiores esclarecimentos sobre realização de festas, eventos e vídeos do local via whatsapp (51) 98439-5416. </br>
          
    <p class="moradas-secao-b">Endereço: Av. Beira Mar 122. Bairro Tramandai Sul. Tramandaí/RS.</p>
    
    </br>
  </br>

    
        <div id="dvslider-moradas" style="margin-left:auto; margin-right:auto">
            <button class="btSlider-moradas" onclick="troca(-1)"><</button>
            <button class="btSlider-moradas" onclick="troca(1)">></button>
        </div>
    </div>

    <p class="moradas-secao-b" style="text-align: center;">Confira o vídeo dessa Morada no final da página!</p>

<div class="section-moradas-dois">
  <p class="moradas-info">Informações</p>
    
  <div class="container-moradas">
      
      <p class="moradas-texto">🏠 Sobrados Amarelo para até 10 pessoas em frente à praia. Pé na areia!</p>
      <p class="moradas-texto-dois">○ Sala com tv canal aberto, cozinha com fogão e geladeira e churrasqueira privativa;</p>
      <p class="moradas-texto-dois">○ Três quartos, sendo cama para até 06 pessoas no total (alguns com cama de casal outros com beliches, verifique opções);</p>
      <p class="moradas-texto-dois">○ Dois banheiros (um no primeiro piso outro no segundo piso);</p>
      <p class="moradas-texto-dois">○ Vaga para vários carros;</p>
      <p class="moradas-texto-dois">○ Amplo pátio em frente privativo gramado e cercado;</p>
      <p class="moradas-texto-dois">○ Alguns sobrados contam com todos quartos no segundo piso e apenas um deles possui opção de quarto térreo consulte;</p>
      <p class="moradas-texto-dois">○ Gás, água e luz inclusos no valor da locação.</p>
      <p class="moradas-texto-dois-obs"> * Este local não possui incluso: ventiladores ou microondas, mas temos locação destes itens. Consulte-nos;</p>
      <p class="moradas-texto-dois-obs"> * Sobrados Amarelos não possuem wi fi;</p>

  </div>
</div>

<div class="section-moradas-tres">
  <p class="moradas-valores">Valores</p>
  
  
  <div class="container-moradas">
      
      <p class="moradas-texto">💰 Valor diária padrão </p>
      <p class="moradas-texto-dois">* Reserva mínima 4 dias para obter tarifas valores abaixo </p>

      
      <p class="moradas-texto-dois">👍 Até 6 pessoas (sem visitantes): <b>R$ 380,00</b> por dia.</p>
      <p class="moradas-texto-dois">👍 Até 10 pessoas (sendo 04 pessoas com colchonetes no chão): <b>R$ 450,00</b> por dia.</p>
  </br>
      <p class="moradas-texto">Tarifa Promocional </p>
      <p class="moradas-texto-dois">👍 7 dias - (Seg à Dom): <b>R$ 2.100,00</b></p>
  </br></br>
  
      <p class="moradas-texto-dois-obs"> * Adultos e crianças na contagem. Crianças até 4 anos de idade até o limite de 3 por imóvel estão isentas. </p>        
  
    </br>
    <p class="moradas-texto-dois-obs"> * Valores não são válidos em períodos de Reveillon ou Carnaval.</p>
    <p class="moradas-texto-dois-obs"> * Consulte pelo whatsapp tarifas especiais promocionais que dependem da época e total de dias do pacote.</p>
    <p class="moradas-texto-dois-obs"> * Acima de 07 dias sempre temos promoções! Trabalhamos com pagamentos mensais na reserva antecipada promocional.</p>
    <p class="moradas-texto-dois-obs"> * Em todos os locais é necessário trazer seus produtos de higiene e produtos de limpeza/pano. Necessário trazer  roupas e forro de cama, travesseiros, cobertas. Temos opções de locação destes itens caso não possa trazer.</p>
    <p class="moradas-texto-dois-obs"> * Em todos os locais é cobrado a caução limpeza antecipado. Caso o hóspede entregue o local limpo a taxa de limpeza  não será cobrada e devolvida na saída. Solicite mais detalhes via whatsapp.</p>
    <p class="moradas-texto-dois-obs"> * Solicite também mais informações e novidades que não estão no site pelo whatsapp. Temos apartamentos e casas a 400 metros do mar com tarifas promocionais.</p>
    <p class="moradas-texto-dois-obs"> * EM FRENTE À PRAIA É PÉ NA AREIA! Não precisa usar o carro para ir à praia. E a comodidade e higiene de ter sua cozinha e banheiro só atravessando a rua! Menores gastos fazendo sua refeição em casa e sem gastar combustível. Ficar em frente ao mar sempre mais vantajoso e econômico e confortável. Qualidade de vida ao veranear! </p>
    <p class="moradas-texto-dois-obs"> * Temos nossa equipe de segurança privativa nas ruas com monitoramento o que garante sua férias tranquilas.</p>
    <p class="moradas-texto-dois-obs"> * Somos Petfriendly - Aceitamos pets (Informar antecipadamente e solicitar regrinhas e taxas).</p>

</div>
</div>
<div class="quadro-youtube-moradas">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
            <p class="moradas-youtube"><i class="fa fa-video-camera text-primary" aria-hidden="true"></i> Sobrados Amarelo</p>
       
        </div>
      
    </div>
  
    <div class="row">
      <div class="col-12 ml-3">

          <div class="tab-content " id="nav-pills-content">
              <div class="tab-pane fade show active" id="nav-item-01" role="tabpanel">
                    <div class="row">
                        
                      
                      <div class="col-md-6 col-lg-6 mx-auto">
                          
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/t6Ob-hyNKEY"></iframe>
                          
                      </div>

                    </div>
              </div>
          </div>

      </div>

    </div>
  </div>
</div>  



<%- include('../includes/footer') %>

<script type="text/javascript" src="../models/moradas-carousel-c.js"></script>

</body>
</html>