<%- include('includes/header') %>

<div class="section-moradas">
    <p class="moradas-titulo">Dúvidas</p>

    <p class="moradas-secao-a">1 - </p>
    <p class="moradas-secao-a">2 - </p>
    <p class="moradas-secao-a">3 - </p>
    <p class="moradas-secao-a">4 - </p>
    <p class="moradas-secao-a">5 - </p>
    <p class="moradas-secao-a">6 - </p>
    <p class="moradas-secao-a">7 - </p>
    <p class="moradas-secao-a">8 - </p>
    <p class="moradas-secao-a">9 - </p>
    <p class="moradas-secao-a">10 - </p>

    
</br></br></br></br></br></br></br></br></br></br></br></br>

</div>


<%- include('includes/footer') %>

<script type="text/javascript" src="/models/home-carousel.js"></script>

  </body>
</html>
    