<%- include('includes/header') %>

<!--Carousel-->
<div class="section color1">
<div id="dvslider">
  <button class="btSlider" onclick="troca(-1)"><</button>
  <div id="dvload">
      <div id="dvbarra"></div>
  </div>
  <button class="btSlider" onclick="troca(1)">></button>
</div>
</div>

<!-- Texto abaixo do banner -->

<div class="container">
    
      <div class="section-home color2"> <!-- my-5 aumenta espaçamento inferior e superior -->
        <p class="texto-section2">Conheça as opções que temos para você:</p>
        <hr style="width:100%; background-color: black ">  
 
      </div>
    
      <!-- Incluir Cards -->

      <div class="row justify-content-sm-center">

        <div class="containerStatic col-sm-7 col-md-4">
          <div class="cardBottom">
            <a href="moradas/minilofts" class="card-link"> <img class="cardCapa" src="../public/images/moradas-1/card-capa.jpg">
            <div class="card-body">
              <p class="card-title">Minilofts Pé Grande</p>
              <h6 class="card-subtitle-special">De frente pro mar, com piscina!</h6>
              <p class="pLink">Saiba mais...</p></a>
          </div>
          </div>
        </div>
  
        <div class="containerStatic col-sm-7 col-md-4">
          <div class="cardBottom   ">   <!--margem entrem as imagens dos cards-->
            <a href="moradas/casa-dos-fundos" class="card-link"> <img class="cardCapa" src="../public/images/moradas-2/card-capa.jpg">
            <div class="card-body">
              <p class="card-title">Casa dos Fundos</p>
              <h6 class="card-subtitle-special ">De frente pro mar, com piscina!</h6>
              <p class="pLink">Saiba mais...</p></a>
            </div>
         
          </div>
        </div>
  
        <div class="containerStatic col-sm-7 col-md-4">
          <div class="cardBottom   ">   <!--margem entrem as imagens dos cards-->
            <a href="moradas/sobrados-amarelo" class="card-link"> <img class="cardCapa" src="../public/images/moradas-3/card-capa.jpg">
            <div class="card-body">
              <p class="card-title">Sobrados Amarelo</p>
              <h6 class="cardSubtitleNormal ">De frente pro mar!</h6>
              <p class="pLink">Saiba mais...</p></a>
            </div>
         
          </div>
        </div>
  
        <div class="containerStatic col-sm-7 col-md-4">
          <div class="cardBottom   ">   <!--margem entrem as imagens dos cards-->
            <a href="moradas/sobrados-rosa" class="card-link"> <img class="cardCapa" src="../public/images/moradas-4/card-capa.jpg">
            
            <div class="card-body">
              <p class="card-title">Sobrados Rosa</p>
              <h6 class="cardSubtitleNormal ">De frente pro mar!</h6>
              <p class="pLink">Saiba mais...</p></a>
            </div>
         
          </div>
        </div>
  
        <div class="containerStatic col-sm-7 col-md-4">
          <div class="cardBottom   ">   <!--margem entrem as imagens dos cards-->
            <a href="moradas/kitroots" class="card-link"> <img class="cardCapa" src="../public/images/moradas-5/card-capa.jpg">
            <div class="card-body">
              <p class="card-title">Kitroots</p>
              <h6 class="cardSubtitleNormal ">De frente pro mar!</h6>
              <p class="pLink">Saiba mais...</p></a>
            </div>
         
          </div>
        </div>
        
  
        <div class="containerStatic col-sm-7 col-md-4">
          <div class="cardBottom   ">   <!--margem entrem as imagens dos cards-->
            <a href="moradas/cabaninhas" class="card-link"> <img class="cardCapa" src="../public/images/moradas-6/card-capa.jpg">
            <div class="card-body">
              <p class="card-title">Cabaninhas</p>
              <h6 class="cardSubtitleNormal ">Uma quadra do mar!</h6>
              <p class="pLink">Saiba mais...</p></a>
            </div>
          </div>
        </div>
  
    </div>
  </div>

  <div class="quadro-youtube">
    <div class="container">
      <div class="row">
        <div class="section-youtube texto-center">
        
          <p class="moradas-youtube-home"><i class="fa fa-video-camera text-primary" aria-hidden="true"></i> Moradas do Pé Grande </br> & </br>  Tramandaí </p>
          
        </div>
      </div>
      
        <div class="align-youtube">
          <div class="tab-content " id="nav-pills-content">
            <div class="tab-pane fade show active" id="nav-item-01" role="tabpanel">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FM3zxdSJX5g"></iframe>
                        <p class="msg-pos-youtube">Partiu Férias ! ! !</p>
            </div>
          </div>
        </div>
      
    </div>
  </div> 


<%- include('includes/footer') %>

<script type="text/javascript" src="/models/home-carousel.js"></script>

  </body>
</html>
    