<%- include('includes/header') %>

<!--Carousel-->
<div class="section color1 mt-5">
<div id="dvslider">
  <button class="btSlider" onclick="troca(-1)"><</button>
  <div id="dvload">
      <div id="dvbarra"></div>
  </div>
  <button class="btSlider" onclick="troca(1)">></button>
</div>
</div>

<!-- Texto abaixo do banner -->

<div class="container">
    
      <div class="section-home color2 text-center"> <!-- my-5 aumenta espaçamento inferior e superior -->
        <p class="texto-section2">Conheça as opções que temos para você:</p>
        <hr style="width:100%; background-color: black ">  
 
      </div>
    

      <!-- Incluir Cards -->
      <div class="row justify-content-sm-center ml-3">
        <div class="col-md-4">
          <div class="card mb-5 borda-card">   <!--margem entrem as imagens dos cards-->
            <a href="moradas/minilofts" class="card-link"> <img class="card-img-top borda-card-capa" src="../public/images/moradas-1/card-capa.jpg"> </a>
            <div class="card-body">
              <h4 class="card-title">Minilofts Pé Grande</h4>
              <h6 class="card-subtitle mb-2" style="color: red;">De frente pro mar, com piscina!</h6>
              <a href="lofts" class="card-link">Saiba mais...</a>
          </div>
              <!--
               <div class="card-body">
              <a href="#" class="card-link" data-toggle="modal" data-target="#siteModal">Entrar</a>
              </div>
              -->
          </div>
        </div>
  
        <div class="col-sm-7 col-md-4">
          <div class="card mb-5  borda-card">   <!--margem entrem as imagens dos cards-->
            <a href="#" class="card-link"> <img class="card-img-top borda-card-capa" src="../public/images/moradas-2/card-capa.jpg"> </a>
            <div class="card-body">
              <h4 class="card-title">Casa dos Fundos</h4>
              <h6 class="card-subtitle mb-2">De frente pro mar, com piscina!</h6>
              <a href="#" class="card-link">Saiba mais...</a>
            </div>
         
          </div>
        </div>
  
        <div class="col-sm-7 col-md-4">
          <div class="card mb-5  borda-card">   <!--margem entrem as imagens dos cards-->
            <a href="#" class="card-link"> <img class="card-img-top borda-card-capa" src="../public/images/moradas-3/card-capa.jpg"> </a>
            <div class="card-body">
              <h4 class="card-title">Sobrados Amarelo</h4>
              <h6 class="card-subtitle mb-2">De frente pro mar!</h6>
             <a href="#" class="card-link">Saiba mais...</a>
            </div>
         
          </div>
        </div>
  
        <div class="col-sm-7 col-md-4">
          <div class="card mb-5  borda-card">   <!--margem entrem as imagens dos cards-->
            <a href="#" class="card-link"> <img class="card-img-top borda-card-capa" src="../public/images/moradas-4/card-capa.jpg"> </a>
            
            <div class="card-body">
              <h4 class="card-title">Sobrados Rosa</h4>
              <h6 class="card-subtitle mb-2">De frente pro mar!</h6>
              <a href="#" class="card-link">Saiba mais...</a>
            </div>
         
          </div>
        </div>
  
        <div class="col-sm-7 col-md-4">
          <div class="card mb-5  borda-card">   <!--margem entrem as imagens dos cards-->
            <a href="#" class="card-link"> <img class="card-img-top borda-card-capa" src="../public/images/moradas-5/card-capa.jpg"> </a>
            <div class="card-body">
              <h4 class="card-title">Kitroots</h4>
              <h6 class="card-subtitle mb-2">De frente pro mar!</h6>
              <a href="#" class="card-link">Saiba mais...</a>
            </div>
         
          </div>
        </div>
        
  
        <div class="col-sm-7 col-md-4">
          <div class="card mb-5  borda-card">   <!--margem entrem as imagens dos cards-->
            <a href="#" class="card-link"> <img class="card-img-top borda-card-capa" src="../public/images/moradas-6/card-capa.jpg"> </a>
            <div class="card-body">
              <h4 class="card-title">Cabaninhas</h4>
              <h6 class="card-subtitle mb-2">Uma quadra do mar!</h6>
              <a href="#" class="card-link">Saiba mais...</a>
            </div>
          </div>
        </div>
  
<!--
        <div class="col-sm-7 col-md-4">
          <div class="card mb-5  borda-card">   margem entrem as 
            <a href="#" class="card-link"> <img class="card-img-top borda-card-capa" src="../public/images/moradas-7/card-capa.jpg"> </a>
            <div class="card-body">
              <h4 class="card-title">Casa Branca</h4>
              <h6 class="card-subtitle mb-2">De frente pro mar!</h6>
              <a href="#" class="card-link">Saiba mais...</a>
            </div>
          </div>
        </div>
      <hr style="width:100%; background-color: black ">  
-->

    </div>
  </div>

    <div class="quadro-youtube">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
              <h1 class="display-6 mt-3"><i class="fa fa-video-camera text-primary" aria-hidden="true"></i> Tramandaí <br>&<br> Moradas do Pé Grande</h1>
              <p class="lead">Percorra por Tramandaí e conheça as moradas!</p>
          
          </div>
        
      </div>
    
      <div class="row">
        <div class="col-12 ml-3">

            <div class="tab-content " id="nav-pills-content">
                <div class="tab-pane fade show active" id="nav-item-01" role="tabpanel">
                      <div class="row">
                          
                        
                        <div class="col-sm-6 mx-auto">
                            <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FM3zxdSJX5g"></iframe>
                            </div>
                        </div>

                        <!--<div class="col-sm-6">
                        <p>Conheça todas as moradas!</p>
                        </div>
                        -->

                      </div>
                </div>

                <div class="tab-pane fade" id="nav-item-02" role="tabpanel">
                  <div class="row">
                          
                        
                    <div class="col-sm-6 mx-auto">
                        <div class="embed-responsive embed-responsive-16by9 ">
                          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FM3zxdSJX5g"></iframe>
                        </div>
                    </div>
                   
                    <!--<div class="col-sm-6">
                        <p>Conheça todas as moradas!</p>
                    </div>
                    -->

                  </div>
                </div>

                <div class="tab-pane fade" id="nav-item-03" role="tabpanel">
                  <div class="row">
                          
                        
                    <div class="col-sm-6 mx-auto">
                        <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FM3zxdSJX5g"></iframe>
                        </div>
                    </div>

                    <!--<div class="col-sm-6">
                        <p>Conheça todas as moradas!</p>
                    </div>
                  -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-center ferias-youtube">
                <p class="mt-3 mb-1" >Partiu FÉRIASSS ! ! !</p>
                </div>
                </div>
            </div>

        </div>

      </div>
    </div>


<%- include('includes/footer') %>

<script type="text/javascript" src="/models/home-carousel.js"></script>

  </body>
</html>
    