<%- include('includes/header') %>

<div class="section-moradas">
    <p class="moradas-titulo">Quem Somos</p>

    <p class="moradas-secao-a">A Moradas do Pé Grande...</p>

    
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

</div>


<%- include('includes/footer') %>

<script type="text/javascript" src="/models/home-carousel.js"></script>

  </body>
</html>
    