<%- include('includes/header') %>





<footer>
    <section class="above-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <div class="snippet" id="footer-links"><div class="page-content"><h2>Quick Links</h2>
<ul>
<li><a href="/news-publications/newsletters/" title="Read Trinity College Newsletters">Newsletter </a></li>
<li><a href="/employment/">Employment</a>&nbsp;</li>
<li><a href="/shop/" title="Go to the Trinity College Online Store">Online Store </a></li>
<li><a href="/calendar/" title="See what's on at Trinity College">Parent Calendar </a></li>
<li><a href="https://parents.trinity.wa.edu.au">SEQTA Parent Portal</a></li>
<li><a href="/discover-trinity/policies-procedures/">Policies &amp; Procedures</a></li>
</ul></div></div>
                </div>
                <div class="col-sm-4">
                          <div class="snippet" id="footer-social"><div class="page-content"><h2>Follow Us</h2></div></div>
                          <div class="ssba hidden-print">
           <a target="_blank" href="https://www.facebook.com/trinitycollegeperth" title="Visit us on Facebook" class="ssba_facebook_share">
     <i class="fa fa-facebook-official"></i> Facebook
  </a>
                 <a target="_blank" href="https://twitter.com/trinityperth"  title="Visit us on Twitter" class="ssba_twitter_share">
     <i class="fa fa-twitter-square"></i> Twitter
  </a>
                 <a target="_blank" href="https://www.instagram.com/trinityperth/"  title="Visit us on Instagram" class="ssba_instagram_share">
     <i class="fa fa-instagram"></i> Instagram
  </a>
                 <a target="_blank" href="https://www.linkedin.com/company/trinity-college-perth"  title="Visit us on LinkedIn" class="ssba_linkedin_share">
     <i class="fa fa-linkedin-square"></i> LinkedIn
  </a>
                 <a target="_blank" href="https://www.youtube.com/trinityperth"  title="Visit us on YouTube" class="ssba_youtube_share">
     <i class="fa fa-youtube-square"></i> YouTube
  </a>
     </div>
                      </div>

                <div class="col-sm-4">
                          <div class="snippet" id="footer-contact"><div class="page-content"><h2>Contact Us</h2>
<p>2 Trinity Avenue <br />East Perth, WA 6004</p>
<p>Telephone: +61 8 9223 8120&nbsp;</p>
<p><span style="word-spacing: 0.0625em;">Email: </span><a href="mailto:info@trinity.wa.edu.au" title="Email Trinity College">reception@trinity.wa.edu.au</a></p></div></div>
                      </div>
            </div>
        </div>
    </section>
    <div class="container-fluid">
       <div class="row">
           <div class="col-sm-12">
              <div class="footer-logo">
                 <a href="http://www.erea.edu.au/" target="_blank" title="Visit the Edmund Rice Education Australia Website (New Page)">
                    <img src="/art/rta/logo-edmund-rice-education.png" alt="Edmund Rice Education Australia" width="217" height="71" />
                 </a>
              </div>
           </div>
       </div>
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <div class="copyright">
<ul>
<li>&copy; Copyright <a href="/" title="Trinity College">Trinity College 2020</a></li>
<li><a href="/sitemap/" title="Sitemap">Sitemap</a></li>
<li><a href="/privacy-policy/" title="Privacy Policy">Privacy Policy</a></li>


<!-- user info -->
</ul>
</div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="credits">
    <p>Website by <a href="https://www.bam.com.au" title="Bam Creative &mdash; Web Design and Development." target="_blank">Bam Creative</a></p>
</div>
            </div>
        </div>
    </div>
</footer>

<a class="backToTop scrollTo" title="Back to top" href="#maincontent"><span class="sr-only">Back to top</span></a>

<div id="print-footer" class="visible-print">
<hr />
&copy;  2020 <strong>Trinity College</strong>.
        Website by  Bam Creative 
.
</div>
 <!--
======================================
Site created by Bam Creative
http://www.bam.com.au
Copyright 2020. All rights reserved.
Design & Code: Bam Creative
Powered by BamCMS v2.6
Updated: 02/07/2020 14:16
======================================
-->
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/popper.js/dist/popper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/models/menu-scroll.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.4.0/jquery-migrate.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="/themes/trinity/build/scripts.min.js?1591076996915"></script>
<script src="//cdn.jsdelivr.net/modaal/0.3.1/js/modaal.min.js?1591076996915"></script>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>


<!--[if lte IE 7]>
<script type="text/javascript"> var IE6UPDATE_OPTIONS = { icons_path: "/common/ie6update/images/" }</script>
<script type="text/javascript" src="/common/ie6update/ie6update.js"></script>
<![endif]-->




</body>
</html>