<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/compiler/bootstrap.css">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css"/>
    
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css">   <!--biblioteca de ícones-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Sriracha&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

    <style>
        /* Style the navigation menu */
.menu-tab {     /* Barra Oculta */
  overflow: hidden;
  background-color: #8ad1e9;;
  position: fixed;
  width: 100%;
}

.menu-tab.sticky {     /* Barra Oculta */
  overflow: hidden;
  background-color: #8ad1e9;;
  position: fixed;
  width: 100%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.menu-tab #myLinks {
  display: none;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

/* Style navigation menu links */
.menu-tab a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  height: 45px;
}

/* Style the hamburger menu */
.menu-tab a.icon {
  background: #80cce6;
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  text-align: center;
}

/*menu tab rolagem */
.menu-tab.sticky a.icon {
    background: #80cce6;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
}


/* Add a grey background color on mouse-over */
.menu-tab a:hover {
  background-color: white;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #d2dde0;
  font-family: 'Lobster Two', cursive;
  color: black;
}


    </style>


    <title>Moradas do Pé Grande</title>
  
  </head>

  <body>
    
    <div class="row header-row">
      <div class="col">
          <p class="header-brand"> Moradas do Pé Grande</p>  
          
      </div>
  </div>
  <div class="menu-tab">
    <a href="#home" class="active menu-barra">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
    </a>
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks">
      <a href="#news">Quem Somos</a>
      <a href="#contact">Tarifário</a>
      <a href="#about">Moradas</a>
      <a href="#about">Contato</a>
      <a href="#about">Facebook <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    </div>
    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    
    </a>
  </div>

   <!-- Incluir Cards -->
   <div class="row justify-content-sm-center">
    <div class="col-md-4">
      <div class="card mb-5 borda-card">   <!--margem entrem as imagens dos cards-->
        <a href="miniloft.html" class="card-link"> <img class="card-img-top borda-card-capa" src="../public/images/moradas-1/card-capa.jpg"> </a>
        <div class="card-body">
          <h4 class="card-title">Minilofts Pé Grande</h4>
          <h6 class="card-subtitle mb-2" style="color: red;">De frente pro mar, com piscina!</h6>
          <a href="#" class="card-link">Saiba mais...</a>
      </div>
          <!--
           <div class="card-body">
          <a href="#" class="card-link" data-toggle="modal" data-target="#siteModal">Entrar</a>
          </div>
          -->
      </div>
    </div>

    <div class="col-sm-7 col-md-4">
      <div class="card mb-5  borda-card">   <!--margem entrem as imagens dos cards-->
        <a href="#" class="card-link"> <img class="card-img-top borda-card-capa" src="../public/images/moradas-2/card-capa.jpg"> </a>
        <div class="card-body">
          <h4 class="card-title">Casa dos Fundos</h4>
          <h6 class="card-subtitle mb-2">De frente pro mar, com piscina!</h6>
          <a href="#" class="card-link">Saiba mais...</a>
        </div>
     
      </div>
    </div>

    <div class="col-sm-7 col-md-4">
      <div class="card mb-5  borda-card">   <!--margem entrem as imagens dos cards-->
        <a href="#" class="card-link"> <img class="card-img-top borda-card-capa" src="../public/images/moradas-3/card-capa.jpg"> </a>
        <div class="card-body">
          <h4 class="card-title">Sobrados Amarelo</h4>
          <h6 class="card-subtitle mb-2">De frente pro mar!</h6>
         <a href="#" class="card-link">Saiba mais...</a>
        </div>
     
      </div>
    </div>

    <div class="col-sm-7 col-md-4">
      <div class="card mb-5  borda-card">   <!--margem entrem as imagens dos cards-->
        <a href="#" class="card-link"> <img class="card-img-top borda-card-capa" src="../public/images/moradas-4/card-capa.jpg"> </a>
        
        <div class="card-body">
          <h4 class="card-title">Sobrados Rosa</h4>
          <h6 class="card-subtitle mb-2">De frente pro mar!</h6>
          <a href="#" class="card-link">Saiba mais...</a>
        </div>
     
      </div>
    </div>

    <div class="col-sm-7 col-md-4">
      <div class="card mb-5  borda-card">   <!--margem entrem as imagens dos cards-->
        <a href="#" class="card-link"> <img class="card-img-top borda-card-capa" src="../public/images/moradas-5/card-capa.jpg"> </a>
        <div class="card-body">
          <h4 class="card-title">Kitroots</h4>
          <h6 class="card-subtitle mb-2">De frente pro mar!</h6>
          <a href="#" class="card-link">Saiba mais...</a>
        </div>
     
      </div>
    </div>
    

    <div class="col-sm-7 col-md-4">
      <div class="card mb-5  borda-card">   <!--margem entrem as imagens dos cards-->
        <a href="#" class="card-link"> <img class="card-img-top borda-card-capa" src="../public/images/moradas-6/card-capa.jpg"> </a>
        <div class="card-body">
          <h4 class="card-title">Cabaninhas</h4>
          <h6 class="card-subtitle mb-2">Uma quadra do mar!</h6>
          <a href="#" class="card-link">Saiba mais...</a>
        </div>
      </div>
    </div>

    <div class="col-sm-7 col-md-4">
      <div class="card mb-5  borda-card">   <!--margem entrem as imagens dos cards-->
        <a href="#" class="card-link"> <img class="card-img-top borda-card-capa" src="../public/images/moradas-7/card-capa.jpg"> </a>
        <div class="card-body">
          <h4 class="card-title">Casa Branca</h4>
          <h6 class="card-subtitle mb-2">De frente pro mar!</h6>
          <a href="#" class="card-link">Saiba mais...</a>
        </div>
      </div>
    </div>
  <hr style="width:100%; background-color: black ">  
</div>
</div>

<div class="quadro-youtube">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
          <h1 class="display-6"><i class="fa fa-video-camera text-primary" aria-hidden="true"></i> Tramandaí <br>&<br> Moradas do Pé Grande</h1>
          <p class="lead">Percorra por Tramandaí e conheça as moradas!</p>
      
      </div>
    
  </div>
      










      <div class="container-fluid mt-5 footer">
     
        <div class="row justify-content-center mt-3">
                
                <div class="col-sm-4">
                <h3 class="text-center py-3 ">Menu</h3>
                  
                  <div class="list-group text-center mb-5 ">
                    
                    <a href="#" class="list-group-item border border-dark footer-menu">Quem Somos</a>
                    <a href="#" class="list-group-item border border-dark footer-menu">Tarifário</a>
                    <a href="#" class="list-group-item border border-dark footer-menu">Contato</a>
                    
                  </div>
              </div>
                <div class="col-sm-4">
      
                    <h3 class="text-center py-3">Redes Sociais</h3>
                    <div class="list-group text-center mb-5 ">
                    
                    <a href="https://www.facebook.com/pousadatramandai" class="list-group-item border border-dark footer-menu-facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
                    
                    <a href="https://www.youtube.com/channel/UCb8Jf1A0laXF7O-b6up1FJg" class="list-group-item border border-dark footer-menu-youtube"><i class="fa fa-youtube" aria-hidden="true"></i>YouTube</a>
                    <a href="https://instagram.com/stories/moradas_do_pe_grande_tramandai/2323815071351262441?utm_source=ig_story_item_share&igshid=lmlbvd1vmjii" class="list-group-item border border-dark footer-menu-instagram"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a>
                    
                  </div>
                  </div>
                
            </div>
      </div>
      
      
      <!-- JavaScript (Opcional) -->
          <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
          <script src="node_modules/jquery/dist/jquery.js"></script>
          <script src="node_modules/popper.js/dist/popper.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
          <script type="text/javascript" src="/models/javascript.js"></script>
          

       

        </body>
      </html>