<%- include('includes/header') %>

<div class="section-moradas">

    <p class="moradas-titulo">Tarifário Geral</p>

    <p class="moradas-secao-a">Minilofts</p>
    <p class="moradas-secao-a">Casa dos Fundos</p>
    <p class="moradas-secao-a">Sobrados Amarelo</p>
    <p class="moradas-secao-a">Sobrados Rosa</p>
    <p class="moradas-secao-a">KitRoots</p>
    <p class="moradas-secao-a">Cabaninhas</p>

</div></br></br></br></br></br></br></br></br></br></br></br></br>

</div>


<%- include('includes/footer') %>

<script type="text/javascript" src="/models/home-carousel.js"></script>

  </body>
</html>
    