/*******************SECAO UM ******************/
.section-moradas {
    margin-top: 2.8em;
    height: 100%;
    text-align: center;
    margin-bottom: 0em;
    margin-left: 4.8em;
    margin-right: 4.5em;
    font-size: 18px;
}

.section-moradas-dois {
    padding-bottom: 3.5em;
    height: 100%;
    width: 100%;
    background-color: #72d1f144;
    text-align: center;
}

.section-moradas-tres {
    padding-bottom: 3.5em;
    height: 100%;
    width: 100%;
    background-color: #72d1f17c;
    text-align: center;
}

.section-moradas-quatro {
    padding-bottom: 3.5em;
    height: 100%;
    width: 100%;
    background-color: #72d1f1b0;
    text-align: center;
}

.moradas-titulo {
    font-family: 'Lobster Two', cursive;
    font-size: 2.5em;
    align-items: center;
    font-weight: 200;
}

.moradas-secao-a {
    margin-left: 5px;
    margin-right: 0;
    padding-top: 5px;
    font-family: 'Lora', serif;
    font-size: 1.31em;
    text-align: justify;
    font-weight: 500;
}

.moradas-secao-b {
    margin-left: 5px;
    margin-right: 0;
    padding-top: 0.5em;
    font-family: 'Lora', serif;
    font-size: 1.30em;
    text-align: justify;
    font-weight: bolder;
}


.whats {
    font-size: 2em;
    text-align: left;
    font-weight: bolder;
    color: rgb(16, 156, 39);
}

#dvslider-moradas{
    background-repeat: round;
    height:28em;
    width: 35em;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.btSlider-moradas{
    background-color: rgba(0,0,0,0.8);
    height:30%;
    color:#fff;
    cursor: pointer;
    outline: none;
    margin: 0px;
    border: none;
}

.moradas-info {
    padding-top: 1.3em;
    margin-left: 0.8em;
    font-family: 'Lobster Two', cursive;
    font-size: 2.5em;
    text-align: left;
}


.moradas-valores {
    padding-top: 1.3em;
    margin-left: 0.8em;
    font-family: 'Lobster Two', cursive;
    font-size: 2.5em;
    text-align: left;
}

.container-moradas {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.moradas-link {
    margin-left: 0.5em;
    margin-right: 0;
    padding-top: 5px;
    font-family: 'Lora', serif;
    font-size: 1em;
    text-align: center;
    font-weight: bolder;
}

#botao-section {
    margin-left: 1.2em;
    text-align: justify;
}


.moradas-texto {
    margin-left: 1em;
    padding-right: 2em;
    margin-right: 0;
    padding-top: 5px;
    font-family: 'Lora', serif;
    font-size: 1.65em;
    text-align: left;
    font-weight: bolder;
}

.moradas-texto-dois {
    margin-left: 1.8em;
    margin-right: 1.9em;
    padding-top: 0;
    font-family: 'Lora', serif;
    font-size: 1.31em;
    text-align: justify;
}

.moradas-texto-dois-obs {
    margin-left: 1.8em;
    margin-right: 1.9em;
    padding-top: 0;
    font-family: 'Lora', serif;
    font-size: 1.15em;
    text-align: justify;
    font-weight: bold;
}

.quadro-youtube-moradas {
    background-color: #090a46;
    height: 33.5em;
}

.moradas-youtube {
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Lobster Two', cursive;
    font-size: 2.5em;
    text-align: center;
    color: white;
    }
    
@media (max-width: 992px) {
    .section-moradas {
        text-align: center;
    }
    
    .moradas-titulo {
        font-family: 'Lobster Two', cursive;

        align-items: center;
    }
    
    .moradas-secao-a {
        margin-left: 5px;
        margin-right: 0;
        padding-top: 5px;
        font-family: 'Lora', serif;

        text-align: justify;
    }
    
    .moradas-secao-b {
        margin-left: 5px;
        margin-right: 0;
        padding-top: 0;
        font-family: 'Lora', serif;

        text-align: justify;
        font-weight: bolder;
    }
    
    .whats {
        text-align: left;
        color: rgb(16, 156, 39);
    }
    
    #dvslider-moradas{
        background-repeat: round;
        border: 1px solid #000;
        width: 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .btSlider-moradas{
        background-color: rgba(0,0,0,0.8);
        height:30%;
        color:#fff;
        cursor: pointer;
        outline: none;
        margin: 0px;
        border: none;
    }
    
    .section-moradas-dois {
        margin-top: 10px;

        width: 100%;
        background-color: #72d1f144;
        text-align: center;
    }
    
    .moradas-info {
        font-family: 'Lobster Two', cursive;
        font-size: 40px;
        align-items: center;
        margin-left: 0.8em;
    }
    
    .moradas-valores {
        font-family: 'Lobster Two', cursive;
        font-size: 40px;
        align-items: center;
        margin-left: 0.8em;
    }
    
    .container-moradas {
        margin-left: auto;
        margin-right: auto;
        padding-right: 100px;
        width: 100%;
        text-align: center;
    }
    
    #botao-section {
        margin-left: 1.2em;
        text-align: justify;
    }

    .moradas-texto {
        margin-right: 0;
        padding-top: 5px;
        font-family: 'Lora', serif;
        text-align: left;
        font-weight: bolder;
    }
    
    .moradas-texto-dois {
        margin-right: 0;
        padding-top: 0;
        font-family: 'Lora', serif;
        text-align: justify;
    }
    
    .moradas-texto-dois-obs {
        margin-left: 1.8em;
        margin-right: 1.9em;
        padding-top: 0;
        font-family: 'Lora', serif;
        font-size: 0.9em;
        text-align: justify;
        font-weight: bold;
    }

     .moradas-youtube {
        padding-top: 2.3em;
        font-family: 'Lobster Two', cursive;
        font-size: 2em;
        text-align: center;
    }
}

@media (max-width: 730px) {
    .section-moradas {
        text-align: center;
        margin-left: 1.2em;
        margin-right: 1.2em;
    }

    .section-moradas-dois {
        margin-top: 35px;
        width: 100%;
        background-color: #72d1f144;
        text-align: center;
    }

    .section-moradas-tres {
        background-color: #72d1f17c;
    }
    
    .section-moradas-quatro {
        background-color: #72d1f1b0;
    }

    .moradas-titulo {
        font-family: 'Lobster Two', cursive;
        align-items: center;
        font-size: 2em;
    }

    .moradas-secao-a {
        margin-left: 0.15em;
        margin-right: 0.3em;
        padding-top: 5px;
        font-family: 'Lora', serif;
        text-align: justify;
        font-size: 0.95em;
    }
    
    #botao-section {
        margin-left: 1.2em;
        text-align: justify;
    }

    .moradas-secao-b {
        margin-left: 5px;
        margin-right: 0;
        padding-top: 0;
        font-family: 'Lora', serif;
        text-align: justify;
        font-size: 0.90em;
    }

    .whats {
        text-align: left;
        color: rgb(16, 156, 39);
        font-size: 1.1em;
    }
    
    #dvslider-moradas{
        background-repeat: round;
        height: 20em;
        width: 100%;
        border: 1px solid #000;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btSlider-moradas{
        background-color: rgba(0,0,0,0.8);
        height:30%;
        color:#fff;
        cursor: pointer;
        outline: none;
        margin: 0px;
        border: none;
    }
    
    .moradas-info {
        font-family: 'Lobster Two', cursive;
        font-size: 1.8em;
        align-items: center;
        margin-left: 0.8em;
    }

    .moradas-valores {
        font-family: 'Lobster Two', cursive;
        font-size: 1.8em;
        align-items: center;
        margin-left: 0.8em;
    }

    .container-moradas {
        margin-left: auto;
        margin-right: auto;
        padding-right: 25px;
        width: 100%;
        text-align: center;
    }

    .moradas-texto {
        margin-right: 0;
        padding-top: 1.2em;
        font-family: 'Lora', serif;
        font-size: 1.2em;
        text-align: justify;
        font-weight: bolder;
    }

    .moradas-texto-dois {
        margin-left: 1.2em;
        margin-right: 0.09em;
        padding-top: 0;
        font-family: 'Lora', serif;
        font-size: 1em;
        text-align: justify;
    }

    .moradas-texto-dois-obs {
        margin-left: 1.8em;
        margin-right: 1.9em;
        padding-top: 0;
        font-family: 'Lora', serif;
        font-size: 0.9em;
        text-align: justify;
        font-weight: bold;
    }

    .quadro-youtube-moradas {
        height: 28.5em;
    }

    .moradas-youtube {
        padding-top: 2.3em;
        font-family: 'Lobster Two', cursive;
        font-size: 2em;
        text-align: center;
    }
}