/***
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

*********************************/

.section-moradas {
    padding: 40px 0;
    height: 980px;
    text-align: center;
}

.moradas-titulo {
  font-family: 'Lobster Two', cursive;
  font-size: 40px;
  align-items: center;
}

#dvslider-moradas{
    background-repeat: round;
    height:500px;
    width: 600px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
  }

.btSlider-moradas{
  background-color: rgba(0,0,0,0.4);
  height:30%;
  color:#fff;
  cursor: pointer;
  outline: none;
  margin: 10px;
  border: none;
}


.section-dois-moradas {
  
  margin-top: 50px;
  height: 1100px;
  width: 100%;
  background-color: #8ad1e9;
  text-align: center;
  
}

.moradas-info {
padding-top: 20px;
font-family: 'Lobster Two', cursive;
font-size: 40px;
align-items: center;
}

.moradas-valores {
  padding-top: 5px;
  font-family: 'Lobster Two', cursive;
  font-size: 40px;
  align-items: center;
  }

.container-moradas {
  margin-left: auto;
  margin-right: auto;
  padding-right: 100px;
  width: 100%;
  text-align: center;
}


.moradas-texto {
  margin-left: 30px;
  margin-right: 0;
  padding-top: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  text-align: left;
  font-weight: bolder;
}

.moradas-texto-dois {
  margin-left: 50px;
  margin-right: 0;
  padding-top: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: justify;
}

.quadro-youtube-moradas {
  padding-top: 10px;
  background-color: #5ab9d8;
  height: 420px;
  
}


@media (max-width: 768px) { 

  .section-moradas {
    padding: 40px 0;
    height: 1000px;
    text-align: center;
}

  #dvslider-moradas{
    background-repeat: round;
    border: 1px solid black;
    height: 400px;
    width: 350px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .btSlider-moradas{
    background-color: #36b1da;
    color:#fff;
    cursor: pointer;
    height: 70px;
    outline: none;
    
    border: 1px solid black;
    }

    .section-dois-moradas {
      margin-top: 50px;
      height: 4100px;
      width: 100%;
      background-color: #53cbf3;
      text-align: center;
      
    }
    
    .moradas-info {
    padding-top: 10px;
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    align-items: center;
    }
    
    .container-moradas {
      margin-left: auto;
      margin-right: auto;
      padding-right: 10px;
      width: 100%;
      text-align: center;
    }
    
    
    .moradas-texto {
      margin-left: 15px;
      margin-right: 0;
      padding-top: 10px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 20px;
      text-align: left;
      font-weight: bolder;
    }
    
    .moradas-texto-dois {
      margin-left: 10px;
      margin-right: 0;
      padding-top: 0;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 16px;
      text-align: left;
      ;
    }

}

/*********** Moradas *************/



.section-home{
  padding: 25px 0;
  width: 100%;
}

.color1{
    background-color: #CAE1FF;
    padding: 22px 0;
}
.color2{
    background-color: #CAE1FF;
    padding: 0px 0;
}
.color3{
    background-color: #a29bfe;
}

.texto-section2{
    font-family: 'Lobster Two', cursive;
    font-size: 50px;
}

@media (max-width: 768px) { 
    .texto-section2{
        font-family: 'Lobster Two', cursive;
        font-size: 30px;
        margin-top: 20px;
    }
}    

.col-md-4, .col-12{
    position: static;
}

.col-sm-6{
    position: static;

}

.col-md-8{
    max-width: 100%;
}

.card{
    position: static;
}

.card-title{
    font-family: 'Lobster Two', cursive;
    font-weight: 900;
    text-align: center;
    font-size: 35px;
}

.card-subtitle{
    color: black;
}

/*.card-link{
  background-color: #F0FFFF;
}
*/

/************************ CAROUSEL ************************/



#dvslider{
  background-repeat: round;
    height:300px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.btSlider{
  background-color: rgba(0,0,0,0.4);
  height:30%;
  color:#fff;
  cursor: pointer;
  outline: none;
  margin: 10px;
  border: none;
}



/************************ CARDS ************************/
.text-car1 {
    color: white;
    font-size: 55px;
    font-family: Calibri;
    font-weight: 600;
}

.text-car2 {
    color: white;
    font-size: 55px;
    font-family: Calibri;
    font-weight: 600;
}

.text-car {
    font-size: 55px;
    bottom: 100px;
    font-family: Calibri;
    font-weight: 600;
}

.borda-card {
  border-color: black;
  border-width: 4px;
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0); 
}

.borda-card-capa {
  border-radius: 15px 15px 0px 0px; 
}

.pe-grande-card {
  width: 20%; 
}

/*# sourceMappingURL=style.css.map */


/************************ Youtube ************************/
.whats {
  font-size: 40px;
  text-align: left;
  color: rgb(16, 156, 39);
  
}

.quadro-youtube {
    background-color: #5ab9d8;
}

.ferias-youtube {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 900;
    font-size: 30px;
}

.text-center {
    font-family: 'Lobster Two', cursive;
    font-weight: 900;
}

 /************************* HEADER *********************/
 body {
  background-color: #CAE1FF;
  
}

.row{
  margin-right: auto;
}

.header-row{
  height: 60px;
  text-align: center;
}

.header-brand{
  padding-top: 5px;
  background-color: #5ab9d8;
  position: fixed;
  height: 60px;
  display: block;
  text-align: center;
  width: 100%;
  font-family: 'Lobster Two', cursive;
  color: black;
  font-size: 40px;
  font-weight: 900;
}

.header-brand.sticky-header{
  position: fixed;
  height: 43px;
  top:0;
  text-align: center;
  left: 0;
  width: 100%;
  background-color: #090a46;
  font-family: 'Lobster Two', cursive;
  color: white;
  font-size: 25px;
  font-weight: 900;
}

.sticky{
  position: fixed;
  text-align: center;
  left: 0;
  width: 100%;
  background-color: #3498db;
  top: 43px;
}

    /* Style the navigation menu */
    .menu-tab {     /* Barra Oculta */
      overflow: hidden;
      background-color: #8ad1e9;
      position: fixed;
      width: 100%;
    }
    
    .menu-tab.sticky {     /* Barra Oculta */
      overflow: hidden;
      background-color: #8ad1e9;
      position: fixed;
      width: 100%;
    }
    
    /* Hide the links inside the navigation menu (except for logo/home) */
    .menu-tab #myLinks {
      background-color: #8ad1e9;
      display: none;
      width: 100%;
      text-align: center;
      font-weight: bold;
  }
  
    .menu-tab.sticky #myLinks {
      background: #090a46e3;
      display: none;
      width: 100%;
      text-align: center;
      font-weight: bold;
  }
   
  
    /*menu tab rolagem */
    .menu-tab.sticky a.icon {
      background: #090a46e3;
      display: block;
      position: absolute;
      width: 100%;
      top: 0;
      text-align: center;
  }
    /* Style navigation menu links */
    .menu-tab a {
      color: black;
      padding: 5px 16px;
      text-decoration: none;
      font-size: 14px;
      display: block;
      height: 30px;
    }
    
    .menu-tab.sticky a {
      color: white;
      padding: 5px 16px;
      text-decoration: none;
      font-size: 14px;
      display: block;
      height: 30px;
    }

    /* Style the hamburger menu */
    .menu-tab a.icon {
      background: #80cce6;
      display: block;
      position: absolute;
      width: 100%;
      top: 0;
      text-align: center;
    }
        
    .menu-tab.sticky a.icon:hover {
      background-color:rgb(104, 185, 218);
      color: black;
    }
    
    /* Add a grey background color on mouse-over */
    .menu-tab a:hover {
      background-color: white;
      color: black;
    }

    .menu-tab.sticky a:hover {
      background-color: rgb(104, 185, 218);
      color: white;
    }
    
    /* Style the active link (or home/logo) */
    .active {
      font-family: 'Lobster Two', cursive;
      color: black;
    } 

/************************* FOOTER *********************/
.container-fluid{
  position: relative;
}

.tab-content {
position: static;
}

.pane-youtube {
position: static;
}

.tab-pane {
position: static;
}

.footer-menu {

background-color: #3A5FCD;
color: white;
border-color: black;
border-style: solid;
font-size: 20px;
}

.footer-menu:hover {
background-color: #0000EE;
color: white;
border-color: black;
border-style: solid;
font-size: 20px;
}

.footer-menu-facebook {
background-color: #0000EE;
color: white;
border-color: black;
border-style: solid;
font-size: 20px;
}

.footer-menu-facebook:hover {
background-color: #4876FF;
color: white;
border-color: black;
border-style: solid;
font-size: 20px;
}

.footer-menu-youtube {
background-color: #EE0000;
color: white;
border-color: black;
border-style: solid;
font-size: 20px;
}

.footer-menu-youtube:hover {
background-color: red;
color: white;
border-color: black;
border-style: solid;
font-size: 20px;
}

.footer-menu-instagram {
background-color: #FF1493;
color: white;
border-color: black;
border-style: solid;
font-size: 20px;
}

.footer-menu-instagram:hover {
background-color: #FF69B4;
color: white;
border-color: black;
border-style: solid;
font-size: 20px;
}

.footer {
background-color: rgb(183, 213, 234);
margin-top: auto;
position: relative;
}

.footer-copy {
position: relative;
text-align: center;
background-color: #CAE1FF;

}

* {
box-sizing: border-box;
}

@media (max-width: 768px) { 

  .row{
      margin-right: auto;
  }
  
  .header-row{
      height: 40px;
      text-align: center;
  }
  
  .header-brand{
      background-color: #80cce6;
      position: fixed;
      display: block;
      text-align: center;
      width: 100%;
      font-family: 'Lobster Two', cursive;
      color: black;
      font-size: 20px;
      font-weight: 900;
  }
  
  .header-brand.sticky-header{
      position: fixed;
      height: 40px;
      top:0;
      text-align: center;
      left: 0;
      width: 100%;
      background-color: #090a46;
      font-family: 'Lobster Two', cursive;
      color: white;
      font-size: 20px;
      font-weight: 900;
  }
  
  .sticky{
      position: fixed;
      text-align: center;
      left: 0;
      width: 100%;
      background-color: red;
      top: 40px;
  }
  
/* Style the navigation menu */
.menu-tab {     /* Barra Oculta */
    overflow: hidden;
    background-color: #8ad1e9;
    position: fixed;
    width: 100%;
}
  
.header-col {
  height: 10px;
}

  .menu-tab.sticky {     /* Barra Oculta */
    overflow: hidden;
    background-color: #8ad1e9;
    position: fixed;
    width: 100%;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .menu-tab #myLinks {
    background-color: #8ad1e9;
    display: none;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

  .menu-tab.sticky #myLinks {
    background: #090a46;
    display: none;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

  /* Style navigation menu links */
  .menu-tab a {
    color: black;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    height: 30px;
  }
  
  .menu-tab.sticky a {
    color: white;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    height: 30px;
  }

  /* Style the hamburger menu */
  .menu-tab a.icon {
    background: #80cce6;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
  }
  
  /* Add a grey background color on mouse-over */
  .menu-tab a:hover {
   background-color: white;
   color: black;
}


  /*menu tab rolagem */
  .menu-tab.sticky a.icon {
      background: #090a46;
      display: block;
      position: absolute;
      width: 100%;
      top: 0;
      text-align: center;
  }
  
  /* Add a grey background color on mouse-over */
  .menu-tab a:hover {
    background-color: white;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    font-family: 'Lobster Two', cursive;
    color: black;
  } 

}