/***
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

*********************************/


/*****************************/

html, body, h2
{  
    margin: 0;  
    padding: 0; 
    background-color: #CAE1FF;
}

.row{
  margin-right: auto;
}

a {
  color: #000;
  text-decoration: none;
  
}

a:hover{
  color: #000;
  text-decoration: none;
}


 /************************* HEADER *********************/
 .header-row{
  height: 60px;
  text-align: center;
}

.header-brand{
  background-color: #5ab9d8;
  position: fixed;
  height: 60px;
  display: block;
  text-align: center;
  width: 100%;
  font-family: 'Lobster Two', cursive;
  color: black;
  font-size: 40px;
  font-weight: 900;
}

.header-brand.sticky-header{
  
  position: fixed;
  height: 60px;
  top:0;
  text-align: center;
  left: 0;
  width: 100%;
  background-color: #090a46;
  font-family: 'Lobster Two', cursive;
  color: white;
  font-size: 40px;
  font-weight: 900;
}

.sticky{
  position: fixed;
  text-align: center;
  left: 0;
  width: 100%;
  background-color: #3498db;
  top: 43px;
}

.socialMediaY{
  padding-top: 0.2em;
  position: fixed;
  height: 60px;
  display: block;
  text-align: right;
  right: 3em;
  color: black;
  font-size: 2em;
}

.socialMediaI {
  padding-top: 0.2em;
  position: fixed;
  height: 60px;
  display: block;
  text-align: right;
  right: 1em;
  color: black;
  font-size: 2em;
}

.socialMediaF {
  padding-top: 0.2em;
  position: fixed;
  height: 60px;
  display: block;
  text-align: right;
  right: 5em;
  color: black;
  font-size: 2em;
}

/* Media Social Icons*/
.ssba_youtube_share i {
  color: #ea4467;
  font-size: 1.3em;
}

.ssba_instagram_share i {
  color: #a347b1;
  font-size: 1.3em;
}

.ssba_facebook_share i {
  color: #113db8;
  font-size: 1.3em;
}

/**************** Style the navigation menu ***************/

nav{
  width: 400px;
  height: auto;
  margin: 0px auto -5px auto;
}

.label {
  margin-bottom: 0;
}

.menu-bar {
  align-items: center;
  text-align: center;
  width: 100%;
}

.item label {
  
  display: block;
  height: 30px;
  padding: 5px 16px;
  font-size: 14px;
  cursor: pointer;
  color: black;
  
}

/* Style navigation menu links */
.menu-tab a {
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 14px;
  display: block;
  height: 30px;
}


.item label:hover{
  background-color: #8ad1e9;
  font-size: 14px;
}

.item ul{
  width: 100%;
  list-style: none;
  overflow: hidden;
  max-height: 0;
  transition: all .4s linear;
}

.item input {
  display: none;
}

.item ul li a{
  align-items: justify;
  padding-bottom: 15px;
  width: 100%;
  height: 30px;
  
  display: block;
  text-decoration: none;
  
  color: #333;
  border-bottom: solid 2px #aaa;
}

.item input:checked ~ ul{       /* Abrir menu  >> Selecione a morada << */
  height: auto;
  max-height: 210px;
  transform: all;
  padding: inherit;
}

.menu-tab {     /* Barra Oculta */
  overflow: hidden;
  background-color: #8ad1e9;
  position: fixed;
  width: 100%;
  top: 3.5em;
}

.menu-tab.sticky {     /* Barra Oculta */
  overflow: hidden;
  background-color: #090a46e3;
  position: fixed;
  width: 100%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.menu-tab #myLinks {
  height: 215px;    /*altura do bloco do menu */
  background-color: #8ad1e9;
  display: none;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.menu-tab.sticky #myLinks {
  background: #090a46e3;
  display: none;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

/*menu tab rolagem */
.menu-tab.sticky a.icon {
  background: #090a46e3;
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  text-align: center;
}


.menu-tab.sticky {
  top: 3.5em;
}

.menu-tab.sticky a {
  color: white;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 14px;
  display: block;
  height: 30px;
}

/* Style the hamburger menu */
.menu-tab a.icon {
  
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  text-align: center;
}

/* Add a grey background color on mouse-over */


.menu-tab a:hover {
  background-color: white;
  color: black;
}

.menu-tab.sticky a:hover {
  background-color: rgb(104, 185, 218);
  color: white;
}

.menu-tab label:hover {
  color: black;
  background-color: white;
}

.menu-tab.sticky label {
  color: white;
}

.menu-tab.sticky label:hover {
  background-color: rgb(104, 185, 218);
  color: white;
}


/* Style the active link (or home/logo) */
.active {
  font-family: 'Lobster Two', cursive;
  color: black;
} 

/****************************** Moradas ********************************/
.color1{
    background-color: #CAE1FF;
    padding: 1.7em 0;
}

.section-home{
  padding: 25px 0;
  width: 100%;
  text-align: center;
}

.color2{
    background-color: #CAE1FF;
    padding: 0px 0;
}
.texto-section2{
    font-family: 'Lobster Two', cursive;
    font-size: 3em;
}

/****************************** Cards ********************************/

.containerStatic {
  position: static;
}

.cardCapa {
  flex-shrink: 0;
  width: 100%; 
  align-self: stretch;
}

.cardBottom {
  position: static;
  padding-bottom: 0em;
  margin-bottom: 2.5em;
  background-color: white;
  border: solid black;
  border-width: 0.08em;
}

.cardBottom:hover{
  background-color: #b5f5f7;  
  color: white;
}

.card-title{
  font-family: 'Lobster Two', cursive;
  font-weight: 900;
  text-align: center;
  width: 100%;
  font-size: 2.18em;
}

.card-title:hover{
  color: rgb(43, 0, 199);
}

.cardSubtitleNormal {
  color: black;
  font-family: 'Lora', serif;
  font-weight: 600;
}

.card-subtitle-special{
  color: black;
  font-family: 'Lora', serif;
  font-weight: 600;
}

.card-link{
  color: black;
}

.pLink{
  padding-top: 1em;
  margin-bottom: 0;
  color: #3498db;
  font-family: 'Lora', serif;
  font-weight: 800;
}

/************************ CAROUSEL ************************/
#dvslider{
  background-repeat: round;
  height:400px;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.btSlider{
  background-color: rgba(0,0,0,0.9);
  height:30%;
  color:#fff;
  cursor: pointer;
  outline: none;
  margin: 10px;
  border: none;
}

/*# sourceMappingURL=style.css.map */


/************************ Youtube ************************/
.quadro-youtube {
  background-color: #090a46;
  height: 38em;
}

.section-youtube{
  padding-top: 0.7em;
  width: 100%;
  text-align: center;
}

.align-youtube {
  display: flex;
  justify-content: center;
}

.embed-responsive-item {
  width: 30em;
  height: 20em;
  display: flex;
  justify-content: center;
}

.moradas-youtube-home {
  padding-top: 0.6em;
  font-family: 'Lobster Two', cursive;
  font-size: 2em;
  text-align: center;
  color: white;
}

.msg-pos-youtube {
  font-family: 'Lobster Two', cursive;
  padding-top: 0.8em;
  color: white;
  text-align: center;
  align-items: center;
  font-size: 1.85em;
}

.display-6 {
  font-size: 2.2em;
}

.ferias-youtube {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 900;
    font-size: 30px;
}

.text-center {
    font-family: 'Lobster Two', cursive;
    font-weight: 900;
    align-items: center;
    text-align: center;
}


/************************* FOOTER *********************/
.container-fluid{
  position: relative;
}

.tab-content {
position: static;
}

.pane-youtube {
position: static;
}

.tab-pane {
position: static;
}

.sectionFooter {
  padding-top: 0.3em;
  padding-bottom: 0.2em;
  height: 100%;
  width: 100%;
  background-color: #ace0ff;
  text-align: center;
}

.containerSocialMedia {
  display: inline-flex;

}

.textoSM {
  font-size: 1em;
  padding-right: 1em;
}

.visiteSm {
  font-weight: bolder;
  font-size: 1.1em;
  margin-top: 1.5em;
  font-family: 'Lora', serif;
  font-weight: 600;
}

* {
box-sizing: border-box;
}

.ssba_whats_share i {
  color: white;
  text-align: right;
  font-size: 5em;
  background-color: rgb(35, 255, 28);
  border-radius: 35%;
  height: 1.5em;
  border-radius: 50%;
  padding-right: 0.3em;
  padding-top: 0.25em;
  padding-left: 0.3em;
}

.fa-whatsapp {
  align-items: center;
}

.footer-whats.sticky-whats{
  position: fixed;
  bottom: 1.5em;
  right: 1.6em;
}

@media (max-width: 768px) { 

  .row{
    margin-right: auto;
  }

  .row.justify-content-sm-center {
    margin-left: 0;
    margin-right: 0;
  }

  .header-row{
    height: 40px;
    text-align: center;
  }

  .header-brand{
    background-color: #80cce6;
    position: fixed;
    display: block;
    text-align: justify;
    width: 100%;
    font-family: 'Lobster Two', cursive;
    color: black;
    font-size: 1.4em;
    font-weight: 900;
    padding-left: 0.5em;
    letter-spacing: 0.03em;
    padding-top: 0.2em;
  }

  .header-brand.sticky-header{
    position: fixed;
    height: 40px;
    top:0;
    text-align: justify;
    left: 0;
    width: 100%;
    background-color: #090a46;
    font-family: 'Lobster Two', cursive;
    color: white;
    font-size: 1.4em;
    font-weight: 900;
    padding-left: 0.5em;
    letter-spacing: 0.03em;   
    padding-top: 0.2em;
  }

  .socialMediaI {
    padding-top: 0.4em;
    position: fixed;
    height: 60px;
    display: block;
    text-align: right;
    right: 0.5em;
    color: black;
    font-size: 1.2em;
  }

  .socialMediaY{
    padding-top: 0.4em;
    position: fixed;
    height: 60px;
    display: block;
    text-align: right;
    right: 2.5em;
    color: black;
    font-size: 1.2em;
  }

  .socialMediaF {
    padding-top: 0.4em;
    position: fixed;
    height: 60px;
    display: block;
    text-align: right;
    right: 4.5em;
    color: black;
    font-size: 1.2em;
  }

  .sticky{
    position: fixed;
    text-align: center;
    left: 0;
    width: 100%;
    background-color: red;
    top: 40px;
  }
  
  .texto-section2{
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    margin-top: 20px;
  }

  #dvslider{
    background-repeat: round;
    height: 19.75em;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btSlider{
    background-color: rgba(0,0,0,0.4);
    height:30%;
    color:#fff;
    cursor: pointer;
    outline: none;
    margin: 10px;
    border: none;
  }
  
  /* Style the navigation menu */
  .menu-tab {     /* Barra Oculta */
    overflow: hidden;
    background-color: #8ad1e9;
    position: fixed;
    width: 100%;
  }

  .header-col {
    height: 10px;
  }

  .menu-tab {     /* Barra Oculta */
    overflow: hidden;
    background-color: #8ad1e9;
    position: fixed;
    width: 100%;
    top: 2.47em;
  }

  .menu-tab.sticky {     /* Barra Oculta */
    overflow: hidden;
    background-color: #090a46;
    position: fixed;
    width: 100%;
    top: 2.47em;
  }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .menu-tab #myLinks {
    background-color: #8ad1e9;
    display: none;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }

  .menu-tab.sticky #myLinks {
    background: #090a46;
    display: none;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }

  /* Style navigation menu links */
  .menu-tab a {
    color: black;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    height: 30px;
  }

  .menu-tab.sticky a {
    color: white;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    height: 30px;
  }

  /* Style the hamburger menu */
  .menu-tab a.icon {
    background: #80cce6;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
  }

  /*menu tab rolagem */
  .menu-tab.sticky a.icon {
    background: #090a46;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
  }

  /* Add a grey background color on mouse-over */
  .menu-tab a:hover {
    background-color: white;
    color: black;
  }

  .texto-section2{
    font-family: 'Lobster Two', cursive;
    font-size: 2em;
}

  /* Style the active link (or home/logo) */
  .active {
    font-family: 'Lobster Two', cursive;
    color: black;
  } 

  .quadro-youtube {
    background-color: #090a46;
    height: 40em;
  }

  .moradas-youtube-home {
    padding-top: 1em;
    padding-bottom: 0.35em;
    font-family: 'Lobster Two', cursive;
    font-size: 2em;
    text-align: center;
    color: white;
  }
  
  .embed-responsive-item {
    width: 23em;
    height: 20em;
    display: flex;
    justify-content: center;
  }

  .msg-pos-youtube {
    padding-top: 0.8em;
    color: white;
    text-align: center;
    font-size: 1.85em;
  }

  .ssba_whats_share i {
    color: white;
    text-align: right;
    font-size: 2.5em;
    background-color: rgb(35, 255, 28);
    width: 85%;
    height: 1.5em;
    border-radius: 50%;
    padding-right: 0.55em;
    padding-top: 0.25em;
    padding-left: 0.35em;
  }

  .footer-whats.sticky-whats{
    position: fixed;
    bottom: 0em;
    right: 0em;
  }


  @media (max-width: 399px) { 
    .header-brand{
      background-color: #80cce6;
      position: fixed;
      display: block;
      text-align: justify;
      width: 100%;
      font-family: 'Lobster Two', cursive;
      color: black;
      font-size: 1.15em;
      font-weight: 900;
      padding-left: 0.5em;
      letter-spacing: 0.03em;
      padding-top: 0.5em;
    }
  
    .header-brand.sticky-header{
      position: fixed;
      height: 40px;
      top:0;
      text-align: justify;
      left: 0;
      width: 100%;
      background-color: #090a46;
      font-family: 'Lobster Two', cursive;
      color: white;
      font-size: 1.15em;
      font-weight: 900;
      padding-left: 0.5em;
      letter-spacing: 0.03em;   
      padding-top: 0.5em;
    }

    .menu-bar {
      align-items: center;
      text-align: center;
      padding-left: 10px;
      width: 100%;
    }

    .texto-section2{
      font-family: 'Lobster Two', cursive;
      font-size: 1.4em;
  }

  #dvslider{
    background-repeat: round;
    height:200px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

  .card-title{
    font-family: 'Lobster Two', cursive;
    font-weight: 900;
    text-align: center;
    width: 100%;
    font-size: 1.6em;
  }
  
  .card-subtitle-special{
    color: black;
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 0.9em;
  }


  .quadro-youtube {
    background-color: #090a46;
    height: 31em;
  }

  .moradas-youtube-home {
    padding-top: 1em;
    padding-bottom: 0.35em;
    font-family: 'Lobster Two', cursive;
    font-size: 1.5em;
    text-align: center;
    color: white;
  }
   
  .msg-pos-youtube {
    padding-top: 0.8em;
    color: white;
    text-align: center;
    font-size: 1.5em;
  }

    .embed-responsive-item {
      width: 16em;
      height: 15em;
      display: flex;
      justify-content: center;
    }

    .visiteSm {
      font-weight: bolder;
      font-size: 0.95em;
      margin-top: 1.5em;
      font-family: 'Lora', serif;
      font-weight: 600;
    }
    
    /* Media Social Icons*/
    .textoSM {
      font-size: 0.8em;
      padding-right: 1em;
    }
  }
}