.row{
    margin-right: auto;
}

.header-row{
    height: 60px;
    text-align: center;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: -webkit-center;
}

.header-brand{
    background-color: #80cce6;
    position: fixed;
    height: 60px;
    display: block;
    text-align: center;
    width: 100%;
    font-family: 'Lobster Two', cursive;
    color: black;
    font-size: 40px;
    font-weight: 900;
}

.headerquem{
    text-align: center;
    width: 100%;
    background-color: #B2DFEE;
    transition: all ease 0.5s;
}

.headerquem ul li{
    display: inline-block;
    text-align: center;
    height: 50px;
}

.headerquem ul li a{
    height: 50px;
    display: block;
    font-family: 'Lobster Two', cursive;
    color: black;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all ease 0.5s;
}

.headerquem ul li a:hover{
    background-color: #5e8ec5e7;
    height: auto;
    text-align: center;
    height: 50px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all ease 0.5s;
}

.menu-princ{
    font-size: 100%;
}

.header-brand.sticky-header{
    position: fixed;
    height: 60px;
    top:0;
    text-align: center;
    left: 0;
    width: 100%;
    background-color: #090a46;
    font-family: 'Lobster Two', cursive;
    color: white;
    font-size: 40px;
    font-weight: 900;
}

.sticky .menu-princ{
    font-size: 25px;
}
.sticky{
    position: fixed;
    text-align: center;
    left: 0;
    width: 100%;
    background-color: #3498db;
    top: 60px;
}

.headerquem.sticky ul li a{
    width: 100%;
    height: 40px;
    display: block;
    font-family: 'Lobster Two', cursive;
    color: black;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all ease 0.5s;
}

.headerquem.sticky ul li a:hover{
    background-color: #d7e1ece7;
    height: auto;
    text-align: center;
    height: 50px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all ease 0.5s;
}

@media (max-width: 768px) { 

    .row{
        margin-right: auto;
    }
    
    .header-row{
        height: 30px;
        text-align: center;
    }
    
    ol, ul, dl {
        margin-top: 0;
        margin-bottom: 0px;
        padding-bottom: 0px;
        text-align: -webkit-center;
    }
    
    .header-brand{
        background-color: #80cce6;
        position: fixed;
        display: block;
        text-align: center;
        width: 100%;
        font-family: 'Lobster Two', cursive;
        color: black;
        font-size: 25px;
        font-weight: 900;
    }
    
    .headerquem{
        text-align: center;
        width: 100%;
        background-color: #B2DFEE;
        transition: all ease 0.5s;
        height: 30px;
        margin-top: 10px;
    }
    
    .headerquem ul li{
        display: inline-block;
        text-align: center;
        height: 50px;
    }
    
    .headerquem ul li a{
        height: 40px;
        display: block;
        font-family: 'Lobster Two', cursive;
        color: black;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        font-size: 25px;
        font-weight: 900;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        letter-spacing: 1px;
        transition: all ease 0.5s;
    }
    
    .headerquem ul li a:hover{
        background-color: #5e8ec5e7;
        height: auto;
        text-align: center;
        height: 30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        font-size: 25px;
        font-weight: 900;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        letter-spacing: 1px;
        transition: all ease 0.5s;
    }
    
    .menu-princ{
        font-size: 15px;
    }
    
    .header-brand.sticky-header{
        position: fixed;
        height: 40px;
        top:0;
        text-align: center;
        left: 0;
        width: 100%;
        background-color: #090a46;
        font-family: 'Lobster Two', cursive;
        color: white;
        font-size: 25px;
        font-weight: 900;
    }
    
    .sticky .menu-princ{
        font-size: 15px;
    }
    .sticky{
        position: fixed;
        text-align: center;
        left: 0;
        width: 100%;
        background-color: #3498db;
        top: 30px;
    }
    
    .headerquem.sticky ul li a{
        
        width: 100%;
        height: 30px;
        display: block;
        font-family: 'Lobster Two', cursive;
        color: black;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        font-weight: 900;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        letter-spacing: 1px;
        transition: all ease 0.5s;
    }
    
    .headerquem.sticky ul li a:hover{
        background-color: #d7e1ece7;
        height: auto;
        text-align: center;
        height: 30px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        font-weight: 900;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        letter-spacing: 1px;
        transition: all ease 0.5s;
    }
  }

/************************************HEADER******************************************/


.section{
    padding: 25px 0;
    width: 100%;
}

.color1{
    background-color: #CAE1FF;
    padding: 0 0;
}
.color2{
    background-color: #CAE1FF;
    padding: 0px 0;
}
.color3{
    background-color: #a29bfe;
}

.texto-section2{
    font-family: 'Lobster Two', cursive;
    font-size: 50px;
}

@media (max-width: 768px) { 
    .texto-section2{
        font-family: 'Lobster Two', cursive;
        font-size: 30px;
        margin-top: 20px;
    }
}    

.col-md-4, .col-12{
    position: static;
}

.col-sm-6{
    position: static;
}

.col-md-8{
    max-width: 100%;
}

.card{
    position: static;
}

.card-title{
    font-family: 'Lobster Two', cursive;
    font-weight: 900;
    text-align: center;
    font-size: 35px;
}

.card-subtitle{
    color: black;
}

/********************************************************/

body {
    background-color: #CAE1FF; 
  }
  
  /************************ MENU ************************/
  .titulo {
      color:black;
  }
  
 .text-brand {
      text-size-adjust: 100%;
      font-family: 'Lobster Two', cursive;
      font-weight: 900;
      color: black;
      text-align: center;
      margin-top: 10px;
      
  }
 
  /************************ CAROUSEL ************************/
.carousel1 {
    position: relative;
    background-color: black;
}

/************************ CARDS ************************/
.text-car1 {
    color: white;
    font-size: 55px;
    font-family: Calibri;
    font-weight: 600;
}

.text-car2 {
    color: white;
    font-size: 55px;
    font-family: Calibri;
    font-weight: 600;
}

.text-car {
    font-size: 55px;
    bottom: 100px;
    font-family: Calibri;
    font-weight: 600;
}

.borda-card {
  background-color: #F0FFFF;
  border-color: black;
  border-width: 4px;
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0); 
}

.borda-card-capa {
  border-radius: 15px 15px 0px 0px; 
}

.pe-grande-card {
  width: 20%; 
}

/*# sourceMappingURL=style.css.map */


/************************ Youtube ************************/

.quadro-youtube {
    background-color: #CAE1FF;
}

.ferias-youtube {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 900;
    font-size: 30px;
}

.text-center {
    font-family: 'Lobster Two', cursive;
    font-weight: 900;
}

/************************ Footer ************************/
.tab-content {
    position: static;
}

.pane-youtube {
    position: static;
}

.tab-pane {
    position: static;
}

.footer-menu {
    background-color: #3A5FCD;
    color: white;
    border-color: black;
    border-style: solid;
    font-size: 20px;
}

.footer-menu:hover {
    background-color: #0000EE;
    color: white;
    border-color: black;
    border-style: solid;
    font-size: 20px;
}

.footer-menu-facebook {
    background-color: #0000EE;
    color: white;
    border-color: black;
    border-style: solid;
    font-size: 20px;
}

.footer-menu-facebook:hover {
    background-color: #4876FF;
    color: white;
    border-color: black;
    border-style: solid;
    font-size: 20px;
}

.footer-menu-youtube {
    background-color: #EE0000;
    color: white;
    border-color: black;
    border-style: solid;
    font-size: 20px;
}

.footer-menu-youtube:hover {
    background-color: red;
    color: white;
    border-color: black;
    border-style: solid;
    font-size: 20px;
}

.footer-menu-instagram {
    background-color: #FF1493;
    color: white;
    border-color: black;
    border-style: solid;
    font-size: 20px;
}

.footer-menu-instagram:hover {
    background-color: #FF69B4;
    color: white;
    border-color: black;
    border-style: solid;
    font-size: 20px;
}

.footer {
    background-color: rgb(183, 213, 234);
    margin-top: auto;
}

* {
  box-sizing: border-box;
}

/*début caroussel*/
#dvslider{
background-repeat: round;
  height:300px;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btSlider{
  background-color: rgba(0,0,0,0.4);
  height:30%;
  color:#fff;
  cursor: pointer;
  outline: none;
  margin: 10px;
  border: none;
}

/*#dvload{
  width:100%;
  height: 5px;
  margin-top:25%;
  border: 1px solid rgba(255,255,255,0.3);
}

#dvbarra{
  width:0%;
  height:100%;
  background-color: #fff;
}*/

  /*fin carousel */

 